<div id="wrapper">
	<div class="header">
		<div id="headerContainer">
			<p>{{ bediener }}</p>
			<h2>BMKS</h2>
			<p>{{ date }}</p>
		</div>
	</div>
	<div id="mehrspaltig">
		<nav>
			<div class="items">
				<div>
					<mat-card>
						<mat-card-content>{{ tableLeftUuid }}</mat-card-content>
					</mat-card>
					@for (item of bookedItemsLeft.getItems(); track item) {
					<mat-card>
						<mat-card-content class="card-content">
							{{ item.name }}
							{{ item.anzahl }} Stück
							{{ (item.price * item.anzahl).toFixed(2) }}€
						</mat-card-content>
						@if(item.pickedVariation){ @for(variation of
						item.pickedVariation.values(); track variation){
						<mat-card-content>
							{{ variation.name }}
							{{ variation.anzahl }}
							{{ (variation.preis * variation.anzahl).toFixed(2) }}€
						</mat-card-content>
						} }
					</mat-card>
					}
				</div>
			</div>
			<div>
				<mat-card class="price">
					<mat-card-content>
						{{ showTotal(bookedItemsLeft) }}
					</mat-card-content>
				</mat-card>
			</div>
		</nav>
		<article>
			<div id="top">
				<button mat-flat-button>Alles umbuchen -></button>
				<button mat-flat-button>{{ "<" }}- Alles umbuchen</button>
			</div>
			<div id="bottom">
				<mat-card style="width: 30%; margin-bottom: 2px">
					<mat-card-content> {{ console }} </mat-card-content>
				</mat-card>
				<div>
					@for(number of numberpad; track number){
					<button
						mat-flat-button
						(click)="consoleInput(number.toString())"
					>
						{{ number }}
					</button>
					@if(number==3){
					<br />
					} @if(number==6){
					<br />
					} @if(number==9){
					<br />
					} }
				</div>
				<div>
					<button mat-flat-button (click)="clearInput()">clear</button>
					<button mat-flat-button (click)="consoleInput('0')">0</button>
				</div>
			</div>
		</article>
		<aside>
			<div class="items">
				<div>
					<mat-card>
						<mat-card-content>{{ tableRightUuid }}</mat-card-content>
					</mat-card>
					@for (item of bookedItemsRight.getItems(); track item) {
					<mat-card>
						<mat-card-content class="card-content">
							{{ item.name }}
							{{ item.anzahl }} Stück
							{{ (item.price * item.anzahl).toFixed(2) }}€
						</mat-card-content>
						@if(item.pickedVariation){ @for(variation of
						item.pickedVariation.values(); track variation){
						<mat-card-content>
							{{ variation.name }}
							{{ variation.anzahl }}
							{{ (variation.preis * variation.anzahl).toFixed(2) }}€
						</mat-card-content>
						} }
					</mat-card>
					}
				</div>
			</div>
			<div>
				<mat-card class="price">
					<mat-card-content>
						{{ showTotal(bookedItemsRight) }}
					</mat-card-content>
				</mat-card>
			</div>
		</aside>
	</div>
	<footer>
		<div id="footerButtonsContainer">
			<button mat-flat-button class="footerButton" [routerLink]="['../']">
				Tisch {{ tableLeftUuid }}
			</button>
			<button mat-flat-button class="footerButton" [routerLink]="['../../']">
				Tischplan
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[disabled]="!consoleActive"
				[routerLink]="['../../' + console]"
			>
				Tisch
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['../../' + tableRightUuid]"
			>
				Tisch {{ tableRightUuid }}
			</button>
		</div>
	</footer>
</div>
