<div class="header-container">
	<div class="header-content">
		<div class="user-details-container">
			<div>
				<p>{{ dataService.user?.name ?? "" }}</p>
				<p>{{ dataService.restaurant?.name ?? "" }}</p>
			</div>

			@if (dataService.register?.status === "INACTIVE") {
				<dav-badge color="error">
					{{ locale.registerNotActivated }}
				</dav-badge>
			}
		</div>

		<div class="logo-container">
			<img
				[src]="
					dataService.darkTheme
						? '/assets/icons/icon-unplated-light-128.png'
						: '/assets/icons/icon-unplated-dark-128.png'
				"
				width="68"
				height="68"
			/>

			<div class="logo-container-text">
				<span class="logo-container-text-1">butler</span>
				<span class="logo-container-text-2">Kassensysteme</span>
			</div>
		</div>

		<div class="date-time-container">
			<p>{{ currentDate }}</p>
			<p>{{ currentTime }}</p>
		</div>
	</div>
</div>
