<div class="header-container">
	<div class="header-content">
		<div class="user-details-container">
			<p>{{ dataService.user?.name ?? "" }}</p>
			<p>{{ dataService.restaurant?.name ?? "" }}</p>
		</div>

		<div class="logo-container">
			<img
				[src]="
					dataService.darkTheme
						? '/assets/logo-1/logo-1-hell.png'
						: '/assets/logo-1/logo-1.png'
				"
				height="54"
			/>
		</div>

		<div class="date-time-container">
			<p>{{ currentDate }}</p>
			<p>{{ currentTime }}</p>
		</div>
	</div>
</div>
