.header-container {
	margin: 0 16px;
	border-bottom: 1px solid var(--dav-color-outline-variant);
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--dav-color-on-surface);
	opacity: 0.75;
	transition: 300ms;
}

.header-content:hover {
	opacity: 1;
}

.logo-container {
	display: inline-flex;
	background-color: transparent;
	font-size: 26px;
	padding: 8px 16px;
	border: none;
	text-decoration: none;
}

.logo-container-text {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	margin-left: 10px;
}

.logo-container-text-1 {
	font-size: 28px;
	line-height: 34px;
}

.logo-container-text-2 {
	font-size: 12.5px;
}

.user-details-container {
	display: flex;
	gap: 16px;
	align-items: center;
}

.user-details-container div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.user-details-container p {
	margin: 0;
}

.date-time-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.date-time-container p {
	margin: 0;
}

@media screen and (max-width: 460px) {
	.logo-container-text {
		display: none;
	}
}
