<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			backButtonVisible
			addButtonVisible
			editButtonVisible
			(backButtonClick)="navigateBack()"
			(addButtonClick)="showAddTableDialog()"
			(editButtonClick)="showEditRoomDialog()"
		>
			{{ room?.name }}

			<div class="header-icons-container" slot="icons">
				<dav-icon-button
					size="sm"
					[href]="
						`/user/restaurants/${restaurantUuid}/rooms/${roomUuid}/combinations`
					"
					(click)="navigateToTableCombinationsPage($event)"
				>
					<fa-icon [icon]="faObjectUnion"></fa-icon>
				</dav-icon-button>
			</div>
		</dav-header>

		@if (loading) {
			<dav-progress-ring size="24"></dav-progress-ring>
		} @else {
			@for (table of tables; track table.name) {
				<dav-card>
					<div class="table-card-container">
						<div class="table-card-content">
							<p>
								<strong>Nummer: {{ table.name }}</strong>
							</p>
							<p>Sitzplätze: {{ table.seats }}</p>
						</div>

						<dav-icon-button
							size="xs"
							(click)="showTableItemContextMenu($event)"
						>
							<fa-icon [icon]="faEllipsis"></fa-icon>
						</dav-icon-button>
					</div>
				</dav-card>
			}
		}
	</div>
</div>

<app-edit-room-dialog
	#editRoomDialog
	[name]="editRoomDialogName"
	[nameError]="editRoomDialogNameError"
	[loading]="editRoomDialogLoading"
	(primaryButtonClick)="editRoomDialogPrimaryButtonClick($event)"
></app-edit-room-dialog>

<app-add-table-dialog
	#addTableDialog
	(primaryButtonClick)="addTableDialogPrimaryButtonClick($event)"
></app-add-table-dialog>

<dav-context-menu
	#tableItemContextMenu
	[visible]="tableItemContextMenuVisible"
	[posX]="tableItemContextMenuPositionX"
	[posY]="tableItemContextMenuPositionY"
>
	<dav-context-menu-item [value]="actionsLocale.edit">
		<fa-icon slot="icon" [icon]="faPen"></fa-icon>
	</dav-context-menu-item>

	<dav-context-menu-item [value]="actionsLocale.delete">
		<fa-icon slot="icon" [icon]="faTrash"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>
