<div class="container slide-up-in">
	<div class="content">
		<h1 class="headline">{{ locale.headline }}</h1>

		@if (dataService.company && dataService.company.restaurants.length > 1) {
			<dav-dropdown
				[label]="locale.restaurant"
				width="173"
				[options]="restaurantDropdownOptions"
				[selectedKey]="restaurantDropdownSelectedKey"
				(change)="restaurantDropdownChange($event)"
			></dav-dropdown>
		}

		<dav-dropdown
			[label]="locale.user"
			width="173"
			[options]="userDropdownOptions"
			[selectedKey]="userDropdownSelectedKey"
			(change)="userDropdownChange($event)"
		></dav-dropdown>

		<dav-textfield
			[placeholder]="locale.password"
			type="password"
			[errorMessage]="errorMessage"
			(change)="passwordChange($event)"
		></dav-textfield>

		<div class="button-container">
			<dav-button size="sm" outline (click)="login()">
				{{ locale.login }}
			</dav-button>
		</div>
	</div>
</div>
