<div class="container slide-up-in">
	<div class="content">
		<h1>{{ locale.headline }}</h1>

		@if (initialLoad) {
			<div class="initial-load-progress-ring-container">
				<dav-progress-ring size="24"></dav-progress-ring>
			</div>
		} @else {
			@if (
				dataService.company && dataService.company.restaurants.length > 1
			) {
				<dav-dropdown
					[label]="locale.restaurant"
					width="230"
					[options]="restaurantDropdownOptions"
					[selectedKey]="restaurantDropdownSelectedKey"
					[disabled]="loading"
					(change)="restaurantDropdownChange($event)"
				></dav-dropdown>
			}

			<dav-dropdown
				[label]="locale.user"
				width="230"
				[options]="userDropdownOptions"
				[selectedKey]="userDropdownSelectedKey"
				[disabled]="loading"
				(change)="userDropdownChange($event)"
			></dav-dropdown>

			<dav-textfield
				[placeholder]="locale.password"
				type="password"
				[errorMessage]="errorMessage"
				[disabled]="loading"
				(change)="passwordChange($event)"
			></dav-textfield>

			<div class="button-container" [class.loading]="loading">
				<dav-button
					size="sm"
					outline
					[disabled]="loading"
					(click)="login()"
				>
					{{ locale.login }}
				</dav-button>

				@if (loading) {
					<dav-progress-ring size="16"></dav-progress-ring>
				}
			</div>
		}
	</div>
</div>
