.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: white;
}

.form-container {
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
	display: flex;
	justify-content: center;
}

.error-message-container {
	display: flex;
	justify-content: center;

	p {
		margin-top: 0;
		color: red;
	}
}
