<div class="container">
	<div class="form-container">
		<div class="input-container">
			@if (dataService.company != null) {
			<mat-form-field>
				<mat-label>User</mat-label>
				<mat-select [(value)]="username">
					@for (user of dataService.company.users; track user.uuid) {
					<mat-option [value]="user.name">{{ user.name }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			}
		</div>
		<div class="input-container">
			<mat-form-field>
				<input
					matInput
					placeholder="Passwort"
					type="password"
					[(ngModel)]="password"
				/>
			</mat-form-field>
		</div>
		@if (errorMessage.length > 0) {
		<div class="error-message-container">
			<p>{{ errorMessage }}</p>
		</div>
		}
		<div class="button-container">
			<button mat-raised-button color="primary" (click)="login()">
				Anmelden
			</button>
		</div>
	</div>
</div>
