<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		<!-- Line 1 -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="line1"
				[label]="locale.line1"
				[disabled]="loading"
				[errorMessage]="line1Error"
				(change)="line1TextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Line 2 -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="line2"
				[label]="locale.line2"
				[disabled]="loading"
				[errorMessage]="line2Error"
				(change)="line2TextfieldChange($event)"
			></dav-textfield>
		</div>

		<div class="dialog-horizontal-formfield-container">
			<!-- Postal code -->
			<dav-textfield
				[value]="postalCode"
				[label]="locale.postalCode"
				[disabled]="loading"
				[errorMessage]="postalCodeError"
				(change)="postalCodeTextfieldChange($event)"
			></dav-textfield>

			<!-- City -->
			<dav-textfield
				[value]="city"
				[label]="locale.city"
				[disabled]="loading"
				[errorMessage]="cityError"
				(change)="cityTextfieldChange($event)"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>
