<div id="wrapper">
	<div class="header">
		<app-header [showButton]="false" />
	</div>
	<div id="mehrspaltig">
		<nav>
			<div id="order">
				<div class="tables">
					@for (item of bookedItems.getItems(); track item) {
					<mat-card
						(click)="selectItem(item, bookedItems)"
						style="cursor: pointer"
						[style.background-color]="
							selectedItem === item ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content class="card-content">
							<!--
							<span class="total-price">
								@if (item.variations != null) {
								{{
									(
										(item.price *
											(item.count +
												bookedItems.getTotalVariationPrice(
													item.variations.items
												))) /
										100
									).toFixed(2)
								}}
								€ } @else {
								{{ ((item.price * item.count) / 100).toFixed(2) }} € }
							</span>
							-->
							<strong>
								{{ item.count }} x
								{{ item.product.name }}
								{{ (item.product.price / 100).toFixed(2) }} €
							</strong>
						</mat-card-content>
						@if (item.orderItemVariations) { @for (variation of
						item.orderItemVariations.items; track variation){
						<mat-card-content>
							{{ variation.count }}
							@for(variationItem of variation.variationItems.items; track
							variationItem.uuid) {

							{{ variationItem.name }}
							<!--
							{{ variationItem.count }}x mit {{ variationItem.name }} +
							{{ (variationItem.price / 100).toFixed(2) }} €
							-->

							}</mat-card-content
						>
						} }
						<mat-card-content> #{{ item.product.id }} </mat-card-content>
					</mat-card>
					}
					<mat-card>
						<mat-card-content>Tisch 12</mat-card-content>
					</mat-card>
					@for (item of stagedItems.getItems(); track item) {
					<mat-card
						(click)="selectItem(item, stagedItems)"
						style="cursor: pointer"
						[style.background-color]="
							selectedItem === item ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content class="card-content">
							<!--
							<span class="total-price">
								@if (item.variations != null) {
								{{
									(
										(item.price *
											(item.count +
												stagedItems.getTotalVariationPrice(
													item.variations.items
												))) /
										100
									).toFixed(2)
								}}
								€ } @else {
								{{ ((item.price * item.count) / 100).toFixed(2) }} € }
							</span>
							-->
							<strong>
								{{ item.count }} x
								{{ item.product.name }}
								{{ (item.product.price / 100).toFixed(2) }} €
							</strong>
						</mat-card-content>

						@if (item.orderItemVariations) { @for (variation of
						item.orderItemVariations.items; track variation){
						@for(variationItem of variation.variationItems.items; track
						variationItem.uuid){
						<!--
						<mat-card-content>
							{{ variationItem.count }}x mit {{ variationItem.name }} +
							{{ (variationItem.price / 100).toFixed(2) }} €
						</mat-card-content>
						-->
						} } }
						<mat-card-content> #{{ item.uuid }} </mat-card-content>
					</mat-card>
					}
				</div>
			</div>
			<div id="numpad">
				<mat-card>
					<mat-card-content> {{ console }} </mat-card-content>
				</mat-card>
				<div>
					@for (number of numberpad; track number) {
					<button
						mat-flat-button
						(click)="consoleInput(number.toString())"
					>
						{{ number }}
					</button>
					@if (number == 3) {
					<button
						mat-flat-button
						[disabled]="
							commaUsed || !consoleActive || checkforZero() || xUsed
						"
						(click)="setAnzahl()"
					>
						X
					</button>
					<br />
					} @if(number == 6) {
					<button mat-flat-button (click)="showTotal()">Clear</button>
					<br />
					} @if(number == 9) {
					<button
						mat-flat-button
						[disabled]="
							!consoleActive || commaUsed || checkArticleNumber()
						"
						(click)="bookById()"
					>
						Artikel
					</button>
					<br />
					} }
					<button
						mat-flat-button
						[disabled]="commaUsed || !consoleActive || xUsed"
						(click)="consoleInput(',')"
						(click)="commaUsed = true"
					>
						,
					</button>
					<button mat-flat-button (click)="consoleInput('0')">0</button>
					<button
						[disabled]="!selectedItem"
						(click)="subtractitem()"
						mat-flat-button
					>
						-
					</button>
					<button
						mat-flat-button
						[disabled]="!selectedItem"
						(click)="addSelectedItem()"
					>
						+
					</button>
				</div>
			</div>
		</nav>
		<article>
			<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
				<div class="popup-content">
					@if(lastClickedItem!=null){
					<h2>
						{{
							lastClickedItem.variations.items[tmpCountVariations].name
						}}
					</h2>
					@for(variationMap of tmpPickedVariationResource; track
					variationMap ){ @if(variationMap.get(tmpCountVariations)){
					@for(variation of
					variationMap.get(tmpCountVariations).values();track variation){
					{{ variation.combination }}
					<div class="popup-content-dish">
						<button mat-mini-fab (click)="removeVariation(variation)">
							<mat-icon>remove</mat-icon>
						</button>
						<b>
							{{ variation.count }}x
							{{ variation.display }}
						</b>
						<button mat-mini-fab (click)="addVariation(variation)">
							<mat-icon>add</mat-icon>
						</button>
					</div>
					} } } }
					<button mat-flat-button (click)="closeItemPopup()">
						Schließen
					</button>
					<button mat-flat-button (click)="sendVariation()">
						Auswählen
					</button>
				</div>
			</div>
			<div id="items">
				@for (item of selectedInventory; track item.uuid) {
				<button (click)="clickItem(item)" mat-flat-button>
					{{ item.name }}
				</button>
				}
			</div>
		</article>
		<aside>
			<div id="drinks">
				@for (category of categories; track category.uuid){ @if
				(category.type == "DRINK") {
				<button
					(click)="changeSelectedInventory(category.products.items)"
					mat-flat-button
				>
					{{ category.name }}
				</button>
				} }
			</div>
			<div id="dishes">
				@for (category of categories; track category.uuid) { @if
				(category.type == "FOOD") {
				<button
					(click)="changeSelectedInventory(category.products.items)"
					mat-flat-button
				>
					{{ category.name }}
				</button>
				} }
			</div>
		</aside>
	</div>
	<footer>
		<div id="footerButtonsContainer">
			<button mat-flat-button class="footerButton" (click)="sendOrder()">
				Bestellung abschicken
			</button>
			<a
				mat-flat-button
				class="footerButton"
				[routerLink]="[console]"
				[disabled]="
					commaUsed ||
					!consoleActive ||
					tableUuid == console ||
					checkforZero() ||
					xUsed
				"
			>
				Umbuchen
			</a>
			<button mat-flat-button class="footerButton" [routerLink]="['../']">
				Tischplan
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['../' + console]"
				[disabled]="
					commaUsed ||
					!consoleActive ||
					tableUuid == console ||
					checkforZero() ||
					xUsed
				"
			>
				Tisch
			</button>
			<button mat-flat-button class="footerButton" (click)="openBills()">
				Rechnungen
			</button>
			<button
				mat-flat-button
				class="footerButton"
				(click)="createBill('Bar')"
				[disabled]="bookedItems.isEmpty()"
			>
				Bar
			</button>
			<button
				mat-flat-button
				class="footerButton"
				(click)="createBill('Karte')"
				[disabled]="bookedItems.isEmpty()"
			>
				Karte
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['separate']"
				[disabled]="bookedItems.isEmpty()"
			>
				Getrennt
			</button>
		</div>
	</footer>

	<!--Rechnungen-->
	<div class="bill-popup-overlay" [ngClass]="{ visible: isBillPopupVisible }">
		@if(pickedBill){
		<div class="bill-popup-content">
			<!-- Rechnungsübersicht links -->
			<div class="bill-list">
				@for(bill of bills; track bill){
				<div
					class="bill-item"
					(click)="pickedBill = bill"
					[class.bill-selected]="pickedBill === bill"
				>
					<span>Tisch {{ bill.table }}</span>
					<span>{{ bill.payment }}</span>
					<span
						>{{
							bill.time.toLocaleTimeString([], {
								hour: "2-digit",
								minute: "2-digit"
							})
						}}
						Uhr</span
					>
					<span
						>{{ (bill.items.calculateTotal() / 100).toFixed(2) }} €</span
					>
				</div>
				}
			</div>

			<!-- Details für ausgewählte Rechnung rechts -->
			<div class="bill-details">
				<h2>
					Tisch {{ pickedBill.table }}
					<span class="bill-time">{{
						pickedBill.time.toLocaleTimeString("de-DE")
					}}</span>
				</h2>
				<div class="bill-items">
					@for(item of pickedBill.items.getItems(); track item){
					<div class="bill-item-detail">
						<!--
						<span>{{ item.count }}x {{ item.name }}</span>
						<span
							>{{ ((item.count * item.price) / 100).toFixed(2) }} €</span
						>
						-->
					</div>
					@if(item.orderItemVariations){ @for(variation of
					item.orderItemVariations.items; track variation) {
					<div class="bill-item-detail">></div>
					} } }
				</div>
				<div class="bill-total">
					<span>Gesamt</span>
					<span
						>{{
							(pickedBill.items.calculateTotal() / 100).toFixed(2)
						}}
						€</span
					>
				</div>
				<div class="bill-buttons">
					<button class="bill-back-button">Tisch zurückholen</button>
					<button class="bill-close-button" (click)="closeBills()">
						Schließen
					</button>
				</div>
			</div>
		</div>
		}
	</div>
</div>
