<div class="container">
	<div class="header">
		<app-header [showButton]="false" />
	</div>

	<div class="orders-numpad-container">
		<div id="order">
			<div class="tables">
				@for (item of bookedItems.getOrderItems(); track item) {
					<mat-card
						(click)="selectItem(item, bookedItems)"
						style="cursor: pointer"
						[style.background-color]="
							selectedItem === item ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content class="card-content">
							@if (item.orderItemVariations.length > 0) {
								<span class="item-price">
									{{
										(item.count * (item.product.price / 100)).toFixed(
											2
										)
									}}
									€
								</span>
							} @else {
								<span class="total-price">
									{{ calculateTotalPriceOfOrderItem(item) }}€
								</span>
							}
							<strong>
								{{ item.count }} x
								{{ item.product.name }}
								{{ (item.product.price / 100).toFixed(2) }} €
							</strong>
						</mat-card-content>
						@if (item.orderItemVariations) {
							@for (
								variation of item.orderItemVariations;
								track variation
							) {
								<mat-card-content>
									{{ variation.count }} x
									@for (
										variationItem of variation.variationItems;
										track variationItem.uuid
									) {
										{{ variationItem.name }}
										@if (variationItem.additionalCost > 0) {
											<span class="variationItem-price">
												+
												{{
													(
														(variation.count *
															variationItem.additionalCost) /
														100
													).toFixed(2)
												}}€</span
											>
										}
										<br />
									}
								</mat-card-content>
							}
						}
						<mat-card-content>
							#{{ item.product.id }}

							@if (item.orderItemVariations.length > 0) {
								<span class="total-price">
									{{ calculateTotalPriceOfOrderItem(item) }}€
								</span>
							}
						</mat-card-content>
					</mat-card>
				}
				@for (menuItem of bookedItems.getMenuOrderItems(); track menuItem) {
					<mat-card
						style="cursor: pointer"
						[style.background-color]="'white'"
					>
						<mat-card-content class="card-content">
							<strong class="menu-item-name">
								{{ menuItem.name }}
							</strong>
						</mat-card-content>
						@if (menuItem.orderItems) {
							@for (
								orderItem of menuItem.orderItems;
								track orderItem.uuid
							) {
								<mat-card-content>
									{{ orderItem.count }} x
									{{ orderItem.product.name }}
									<span class="item-price">
										{{
											(
												orderItem.count *
												(orderItem.product.price / 100)
											).toFixed(2)
										}}€
									</span>
									@if (orderItem.orderItemVariations.length > 0) {
										@for (
											variation of orderItem.orderItemVariations;
											track variation
										) {
											<div>
												{{ variation.count }}x
												@for (
													variationItem of variation.variationItems;
													track variationItem.uuid
												) {
													{{ variationItem.name }}
													@if (variationItem.additionalCost > 0) {
														<span class="variationItem-price">
															+
															{{
																(
																	variation.count *
																	variationItem.additionalCost
																).toFixed(2)
															}}€</span
														>
													}
													@if (variationItem.additionalCost < 0) {
														<span class="variationItem-price">
															{{
																(
																	variation.count *
																	variationItem.additionalCost
																).toFixed(2)
															}}€</span
														>
													}
												}
											</div>
										}
									}
								</mat-card-content>
							}
						}
						<mat-card-content>
							#{{ menuItem.menu.id }}
							<span class="total-price">
								{{ menuItem.product.price.toFixed(2) }}€
							</span>
						</mat-card-content>
					</mat-card>
				}

				@if (table != null) {
					<div class="table-info-container">
						<p>
							{{
								locale.tableHeadline.replace(
									"{name}",
									table.name.toString()
								)
							}}
						</p>

						<dav-icon-button size="sm" (click)="selectTableButtonClick()">
							<fa-icon [icon]="faArrowRightArrowLeft"></fa-icon
						></dav-icon-button>
					</div>
				}

				@for (item of stagedItems.getOrderItems(); track item) {
					<mat-card
						(click)="selectItem(item, stagedItems)"
						style="cursor: pointer"
						[style.background-color]="
							selectedItem === item ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content class="card-content">
							@if (item.orderItemVariations.length > 0) {
								<span class="item-price">
									{{
										(item.count * (item.product.price / 100)).toFixed(
											2
										)
									}}
									€
								</span>
							} @else {
								<span class="total-price">
									{{ calculateTotalPriceOfOrderItem(item) }}€
								</span>
							}
							<strong>
								{{ item.count }} x
								{{ item.product.name }}
								{{ (item.product.price / 100).toFixed(2) }} €
							</strong>
						</mat-card-content>
						@if (item.orderItemVariations) {
							@for (
								variation of item.orderItemVariations;
								track variation
							) {
								<mat-card-content>
									{{ variation.count }} x
									@for (
										variationItem of variation.variationItems;
										track variationItem.uuid
									) {
										{{ variationItem.name }}
										@if (variationItem.additionalCost > 0) {
											<span class="variationItem-price">
												+
												{{
													(
														(variation.count *
															variationItem.additionalCost) /
														100
													).toFixed(2)
												}}€</span
											>
										}
										<br />
									}
								</mat-card-content>
							}
						}
						<mat-card-content>
							#{{ item.product.id }}

							@if (item.orderItemVariations.length > 0) {
								<span class="total-price">
									{{ calculateTotalPriceOfOrderItem(item) }}€
								</span>
							}
						</mat-card-content>
					</mat-card>
				}
				@for (menuItem of stagedItems.getMenuOrderItems(); track menuItem) {
					<mat-card
						(click)="selectMenuItem(menuItem, stagedItems)"
						style="cursor: pointer"
						[style.background-color]="
							selectedMenuItem === menuItem
								? 'rgba(27, 167, 251, 255)'
								: 'white'
						"
					>
						<mat-card-content class="card-content">
							<strong class="menu-item-name">
								{{ menuItem.name }}
							</strong>
						</mat-card-content>
						@if (menuItem.orderItems) {
							@for (
								orderItem of menuItem.orderItems;
								track orderItem.uuid
							) {
								<mat-card-content>
									{{ orderItem.count }} x
									{{ orderItem.product.name }}
									<span class="item-price">
										{{
											(
												(orderItem.count *
													orderItem.product.price) /
												100
											).toFixed(2)
										}}€
									</span>
									@if (orderItem.orderItemVariations.length > 0) {
										@for (
											variation of orderItem.orderItemVariations;
											track variation
										) {
											<div>
												{{ variation.count }}x
												@for (
													variationItem of variation.variationItems;
													track variationItem.uuid
												) {
													{{ variationItem.name }}
													@if (variationItem.additionalCost > 0) {
														<span class="variationItem-price">
															+
															{{
																(
																	(variation.count *
																		variationItem.additionalCost) /
																	100
																).toFixed(2)
															}}€</span
														>
													}
													@if (variationItem.additionalCost < 0) {
														<span class="variationItem-price">
															{{
																(
																	(variation.count *
																		variationItem.additionalCost) /
																	100
																).toFixed(2)
															}}€</span
														>
													}
												}
											</div>
										}
									}
								</mat-card-content>
							}
						}
						<mat-card-content>
							#{{ menuItem.menu.id }}
							<span class="total-price">
								{{
									(
										stagedItems.getTotalMenuPrice(menuItem) / 100
									).toFixed(2)
								}}€
							</span>
						</mat-card-content>
					</mat-card>
				}
			</div>
		</div>
		<div id="numpad">
			<mat-card>
				<mat-card-content> {{ console }} </mat-card-content>
			</mat-card>
			<div>
				@for (number of numberpad; track number) {
					<button
						mat-flat-button
						(click)="consoleInput(number.toString())"
					>
						{{ number }}
					</button>
					@if (number == 3) {
						<button
							mat-flat-button
							[disabled]="
								commaUsed || !consoleActive || checkforZero() || xUsed
							"
							(click)="setAnzahl()"
						>
							X
						</button>
						<br />
					}
					@if (number == 6) {
						<button mat-flat-button (click)="showTotal()">Clear</button>
						<br />
					}
					@if (number == 9) {
						<button
							mat-flat-button
							[disabled]="
								!consoleActive || commaUsed || checkArticleNumber()
							"
							(click)="bookById()"
						>
							Artikel
						</button>
						<br />
					}
				}
				<button
					mat-flat-button
					[disabled]="commaUsed || !consoleActive || xUsed"
					(click)="consoleInput(',')"
					(click)="commaUsed = true"
				>
					,
				</button>
				<button mat-flat-button (click)="consoleInput('0')">0</button>
				<button
					[disabled]="!selectedItem"
					[disabled]="!selectedMenuItem"
					(click)="subtractitem()"
					mat-flat-button
				>
					-
				</button>
				<button
					mat-flat-button
					[disabled]="!selectedItem"
					[disabled]="!selectedMenuItem"
					(click)="addSelectedItem(selectedItem)"
					(click)="addSelectedMenuItem(selectedMenuItem)"
				>
					+
				</button>
			</div>
		</div>
	</div>

	<div class="product-selection-container">
		<div class="product-items">
			@for (item of selectedInventory; track item.uuid) {
				<dav-button (click)="clickItem(item)">{{ item.name }}</dav-button>
			}

			@for (menu of menues; track menu.uuid) {
				<dav-button (click)="clickMenu(menu)">{{ menu.name }}</dav-button>
			}

			@for (special of specials; track special.uuid) {
				<dav-button (click)="clickSpecial(special)">
					{{ special.name }}
				</dav-button>
			}
		</div>
	</div>

	<div class="categories-sidenav-container">
		<dav-sidenav>
			<!-- Menues & Specials -->
			<dav-sidenav-item
				value="Menüs"
				[active]="selectedCategory === 'menues'"
				(click)="showMenus()"
			></dav-sidenav-item>
			<dav-sidenav-item
				value="Specials"
				[active]="selectedCategory === 'specials'"
				(click)="showSpecials()"
			></dav-sidenav-item>

			<!-- Dynamic categories -->
			@for (category of categories; track category.uuid) {
				<dav-sidenav-item
					[value]="category.name"
					[active]="selectedCategory === category.uuid"
					(click)="selectCategory(category)"
				></dav-sidenav-item>
			}
		</dav-sidenav>
	</div>

	<div class="footer">
		<div id="footerButtonsContainer">
			<button mat-flat-button class="footerButton" (click)="sendOrder()">
				Bestellung abschicken
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[disabled]="
					commaUsed ||
					!consoleActive ||
					table?.uuid == console ||
					checkforZero() ||
					xUsed
				"
				(click)="navigateToTransferPage()"
			>
				Umbuchen
			</button>
			<button mat-flat-button class="footerButton" [routerLink]="['../../']">
				Tischplan
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['../' + console]"
				[disabled]="
					commaUsed ||
					!consoleActive ||
					table?.uuid == console ||
					checkforZero() ||
					xUsed
				"
			>
				Tisch
			</button>
			<button mat-flat-button class="footerButton" (click)="openBills()">
				Rechnungen
			</button>
			<button
				mat-flat-button
				class="footerButton"
				(click)="createBill('CASH')"
				[disabled]="bookedItems.isEmpty()"
			>
				Bar
			</button>
			<button
				mat-flat-button
				class="footerButton"
				(click)="createBill('CARD')"
				[disabled]="bookedItems.isEmpty()"
			>
				Karte
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['separate']"
				[disabled]="bookedItems.isEmpty()"
			>
				Getrennt
			</button>
		</div>
	</div>
</div>

<div class="bill-popup-overlay" [ngClass]="{ visible: isBillPopupVisible }">
	@if (pickedBill) {
		<div class="bill-popup-content">
			<div class="bill-list">
				@for (bill of bills; track bill) {
					<div
						class="bill-item"
						(click)="pickedBill = bill"
						[class.bill-selected]="pickedBill === bill"
					>
						<span>Tisch {{ bill.table.name }}</span>
						<span class="bill-payment-method">{{
							bill.paymentMethod
						}}</span>
						<span>
							{{ pickedBill.paidAt.toLocaleDateString("de-DE") }}
						</span>
						<span
							>{{
								bill.paidAt.toLocaleTimeString([], {
									hour: "2-digit",
									minute: "2-digit"
								})
							}}
							Uhr</span
						>
						<span>{{ calculateBillTotal(bill) }} €</span>
					</div>
				}
			</div>

			<div class="bill-details">
				<h2>
					Tisch {{ pickedBill.table.name }}
					<span class="bill-time">
						{{ pickedBill.paidAt.toLocaleTimeString("de-DE") }} -
						{{ pickedBill.paidAt.toLocaleDateString("de-DE") }}
					</span>
				</h2>
				<div class="bill-items">
					@for (item of pickedBill.orderItems; track item) {
						<div class="bill-item-detail">
							<div class="item-header">
								<span>{{ item.count }} x {{ item.product.name }}</span>
								<span class="total-price"
									>{{ calculateTotalPriceOfOrderItem(item) }}€</span
								>
							</div>

							@if (item.orderItemVariations.length > 0) {
								@for (
									variation of item.orderItemVariations;
									track variation
								) {
									<span
										>{{ variation.count }} x
										@for (
											variationItem of variation.variationItems;
											track variationItem.uuid
										) {
											{{ variationItem.name }}
											<span class="variationItem-price">
												@if (variationItem.additionalCost > 0) {
													+
													{{
														(
															(variation.count *
																variationItem.additionalCost) /
															100
														).toFixed(2)
													}}€
												}
											</span>
											<br />
										}
									</span>
								}
							}
						</div>
					}
				</div>
				<div class="bill-total">
					<span>Gesamt</span>
					<span>{{ calculateBillTotal(pickedBill) }}€</span>
				</div>
				<div class="bill-buttons">
					<button class="bill-back-button">Tisch zurückholen</button>
					<button class="bill-close-button" (click)="closeBills()">
						Schließen
					</button>
				</div>
			</div>
		</div>
	}
</div>

<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
	@if (minusUsed == false) {
		<div class="popup-content">
			@if (lastClickedItem != null) {
				<h2>
					{{ lastClickedItem.variations[tmpCountVariations].name }}
				</h2>
				@for (
					variationMap of tmpPickedVariationResource;
					track variationMap
				) {
					@if (variationMap.get(tmpCountVariations)) {
						@for (
							variation of variationMap.get(tmpCountVariations).values();
							track variation
						) {
							@if (tmpCountVariations != 0) {
								{{ displayVariation(variation) }}
							}

							<div class="popup-content-dish">
								<button
									mat-mini-fab
									[disabled]="variation.count == 0"
									(click)="removeVariation(variation)"
								>
									<mat-icon>remove</mat-icon>
								</button>
								<b>
									{{ variation.count }}x
									{{ variation.display }}
								</b>
								<button
									mat-mini-fab
									[disabled]="checkForPlusaddVariation(variation)"
									(click)="addVariation(variation)"
								>
									<mat-icon>add</mat-icon>
								</button>
							</div>
						}
					}
				}
			}
			<button mat-flat-button (click)="closeItemPopup()">Schließen</button>
			<button
				mat-flat-button
				[disabled]="checkForSendVariation()"
				(click)="sendVariation()"
			>
				Auswählen
			</button>
		</div>
	} @else {
		<div class="popup-content">
			@if (selectedItem != null) {
				<h2>
					{{ selectedItem.product.name }}
				</h2>
				@for (
					variation of tmpSelectedItem.orderItemVariations;
					track variation
				) {
					<div class="popup-content-dish">
						<button
							mat-mini-fab
							[disabled]="variation.count == 0"
							(click)="removeVariationSubtraction(variation)"
						>
							<mat-icon>remove</mat-icon>
						</button>
						<b>
							{{ variation.count }}x
							@for (
								variationItem of variation.variationItems;
								track variationItem
							) {
								{{ variationItem.name }}
							}
						</b>
						<button
							mat-mini-fab
							[disabled]="checkForPlus(variation)"
							(click)="addVariationSubtraction(variation)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>
				}
			}
			<button mat-flat-button (click)="closeItemPopup()">Schließen</button>
			<button mat-flat-button (click)="sendDeleteVariation(tmpSelectedItem)">
				Auswählen
			</button>
		</div>
	}
</div>

<div class="popup-overlay" [ngClass]="{ visible: isMenuePopupVisible }">
	@if (this.currentMenu) {
		<div class="Special-popup-content">
			<div class="menue-left">
				<div class="categories-section">
					<h3>Kategorien</h3>
					<div class="category-list">
						@for (item of currentMenu.items; track $index) {
							<button
								[disabled]="item.maxSelections <= 0"
								[class.selected-category]="currentIndex === $index"
								(click)="
									changeSelectedMenuInventory(
										item,
										item.maxSelections,
										$index
									)
								"
								mat-flat-button
							>
								{{ item.name }} ({{ item.maxSelections }})
							</button>
						}
					</div>
				</div>
			</div>
			<div class="specials-center">
				<div class="products-section">
					<h3>
						Produkte - Wähle
						{{ this.currentMenu.items[currentIndex].maxSelections }}
						Produkte aus
					</h3>
					<div class="product-list">
						@for (product of specialProducts; track product.uuid) {
							<button
								[disabled]="
									this.currentMenu.items[currentIndex].maxSelections <=
									0
								"
								(click)="clickSpecialProduct(product)"
								mat-flat-button
							>
								{{ product.name }}
							</button>
						}
					</div>
				</div>
			</div>
			<div class="specials-right">
				<div class="selection-section">
					<h3>Ebenen</h3>
					<div class="selected-products">
						@for (
							item of tmpSpecialAllItemsHandler.getOrderItems();
							track item.uuid
						) {
							<div class="selected-product">
								@if (item.orderItemVariations.length > 0) {
									<span>
										{{ item.count }}x {{ item.product.name }}

										@for (
											variation of item.orderItemVariations;
											track variation
										) {
											{{ variation.count }}x
											@for (
												variationItem of variation.variationItems;
												track variationItem
											) {
												{{ variationItem.name }}
											}
										}
									</span>
								} @else {
									<button
										mat-mini-fab
										(click)="removeMenuItem(item)"
										color="warn"
									>
										<mat-icon>remove</mat-icon>
									</button>
									<span>
										{{ item.count }}x {{ item.product.name }}
									</span>
								}
							</div>
						}
					</div>
				</div>
				<div class="button-section">
					<button
						class="special-button confirm-btn"
						(click)="confirmMenu()"
					>
						✓
					</button>
					<button
						class="special-button close-btn"
						(click)="closeSpecials()"
					>
						✕
					</button>
				</div>
			</div>
		</div>
	} @else {
		<div class="Special-popup-content">
			<div class="specials-left">
				<div class="categories-section">
					<h3>Kategorien</h3>
					<div class="category-list">
						@for (category of specialCategories; track category.uuid) {
							<button
								(click)="
									changeSelectedSpecialInventory(category.products)
								"
								mat-flat-button
							>
								{{ category.name }}
							</button>
						}
					</div>
				</div>
			</div>
			<div class="specials-center">
				<div class="products-section">
					<h3>Produkte</h3>
					<div class="product-list">
						@for (product of specialProducts; track product.uuid) {
							<button
								(click)="clickSpecialProduct(product)"
								mat-flat-button
							>
								{{ product.name }}
							</button>
						}
					</div>
				</div>
			</div>
			<div class="specials-right">
				<div class="selection-section">
					<h3>Auswahl</h3>
					<div class="selected-products">
						@for (
							item of tmpSpecialAllItemsHandler.getOrderItems();
							track item.uuid
						) {
							<div class="selected-product">
								@if (item.orderItemVariations.length > 0) {
									<button
										mat-mini-fab
										(click)="editSpecial(item)"
										color="accent"
									>
										<mat-icon>edit</mat-icon>
									</button>
									<span>
										{{ item.count }}x {{ item.product.name }}

										@for (
											variation of item.orderItemVariations;
											track variation
										) {
											{{ variation.count }}x
											@for (
												variationItem of variation.variationItems;
												track variationItem
											) {
												{{ variationItem.name }}
											}
										}
									</span>
								} @else {
									<button
										mat-mini-fab
										(click)="removeSpecial(item)"
										color="warn"
									>
										<mat-icon>remove</mat-icon>
									</button>
									<span>
										{{ item.count }}x {{ item.product.name }}
									</span>
									<button
										mat-mini-fab
										(click)="addSpecial(item)"
										color="primary"
									>
										<mat-icon>add</mat-icon>
									</button>
								}
							</div>
						}
					</div>
				</div>
				<div class="button-section">
					<button
						class="special-button confirm-btn"
						(click)="confirmSpecials()"
					>
						✓
					</button>
					<button
						class="special-button close-btn"
						(click)="closeSpecials()"
					>
						✕
					</button>
				</div>
			</div>
		</div>
	}
</div>

<!-- SpecialVariationPopup -->
<div
	class="popup-overlay"
	[ngClass]="{ visible: isSpecialVariationPopupVisible }"
	style="z-index: 1001"
>
	@if (minusUsed == false) {
		<div class="popup-content">
			@if (lastClickedItem != null) {
				<h2>
					{{ lastClickedItem.variations[tmpCountVariations].name }}
				</h2>
				@for (
					variationMap of tmpPickedVariationResource;
					track variationMap
				) {
					@if (variationMap.get(tmpCountVariations)) {
						@for (
							variation of variationMap.get(tmpCountVariations).values();
							track variation
						) {
							@if (tmpCountVariations != 0) {
								{{ displayVariation(variation) }}
							}

							<div class="popup-content-dish">
								<button
									mat-mini-fab
									[disabled]="variation.count == 0"
									(click)="removeVariation(variation)"
								>
									<mat-icon>remove</mat-icon>
								</button>
								<b>
									{{ variation.count }}x
									{{ variation.display }}
								</b>
								<button
									mat-mini-fab
									[disabled]="checkForPlusaddVariation(variation)"
									(click)="addVariation(variation)"
								>
									<mat-icon>add</mat-icon>
								</button>
							</div>
						}
					}
				}
			}
			<button mat-flat-button (click)="closeSpecialVariationPopup()">
				Schließen
			</button>
			<button
				mat-flat-button
				[disabled]="checkForSendVariation()"
				(click)="sendVariation()"
			>
				Auswählen
			</button>
		</div>
	} @else {
		<div class="popup-content">
			@if (
				selectedMenuItem != null && selectedMenuItem.orderItems.length === 1
			) {
				<!-- Minus-Modus für MenuOrderItems -->
				<h2>
					{{ lastClickedItem.variations[tmpCountVariations].name }}
				</h2>
				@for (
					variationMap of tmpPickedVariationResource;
					track variationMap
				) {
					@if (variationMap.get(tmpCountVariations)) {
						@for (
							variation of variationMap.get(tmpCountVariations).values();
							track variation
						) {
							@if (tmpCountVariations != 0) {
								{{ displayVariation(variation) }}
							}

							<div class="popup-content-dish">
								<button
									mat-mini-fab
									[disabled]="variation.count == 0"
									(click)="removeVariation(variation)"
								>
									<mat-icon>remove</mat-icon>
								</button>
								<b>
									{{ variation.count }}x
									{{ variation.display }}
								</b>
								<button
									mat-mini-fab
									[disabled]="checkForPlusaddVariation(variation)"
									(click)="addVariation(variation)"
								>
									<mat-icon>add</mat-icon>
								</button>
							</div>
						}
					}
				}
			} @else if (selectedItem != null) {
				<!-- Minus-Modus für normale OrderItems -->
				<h2>
					{{ selectedItem.product.name }}
				</h2>
				@for (
					variation of tmpSelectedItem.orderItemVariations;
					track variation
				) {
					<div class="popup-content-dish">
						<button
							mat-mini-fab
							[disabled]="variation.count == 0"
							(click)="removeVariationSubtraction(variation)"
						>
							<mat-icon>remove</mat-icon>
						</button>
						<b>
							{{ variation.count }}x
							@for (
								variationItem of variation.variationItems;
								track variationItem
							) {
								{{ variationItem.name }}
							}
						</b>
						<button
							mat-mini-fab
							[disabled]="checkForPlus(variation)"
							(click)="addVariationSubtraction(variation)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>
				}
			}
			<button mat-flat-button (click)="closeSpecialVariationPopup()">
				Schließen
			</button>
			<button mat-flat-button (click)="sendDeleteVariation(tmpSelectedItem)">
				Auswählen
			</button>
		</div>
	}
</div>

<app-select-table-dialog
	#selectTableDialog
></app-select-table-dialog>
