<div class="container slide-up-in">
	<div class="content-container">
		<dav-header backButtonVisible (backButtonClick)="navigateBack()">
			{{ locale.headline }}
		</dav-header>

		@if (loading) {
			<dav-progress-ring size="24"></dav-progress-ring>
		} @else {
			<dav-list>
				@for (register of registers; track register.uuid) {
					<dav-list-item
						[headline]="register.name"
						[href]="'/user/restaurants/' + uuid + '/registers/' + register.uuid"
						(click)="navigateToRegisterPage($event, register)"
					></dav-list-item>
				}
			</dav-list>
		}
	</div>
</div>
