<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	[child]="child"
	maxWidth="500px"
	[loading]="loading"
	[primaryButtonDisabled]="!isFormValid()"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		<!-- Name -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.name"
				[disabled]="loading"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Phone Number -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="phoneNumber"
				[label]="locale.phoneNumber"
				[disabled]="loading"
				(change)="phoneNumberTextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Address Line 1 -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="line1"
				[label]="locale.line1"
				[disabled]="loading"
				(change)="addressLine1TextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Address Line 2 -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="line2"
				[label]="locale.line2"
				[disabled]="loading"
				(change)="addressLine2TextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- House Number and Postal Code -->
		<div class="dialog-formfield-row">
			<div class="dialog-formfield-container">
				<dav-textfield
					[value]="houseNumber"
					[label]="locale.houseNumber"
					[disabled]="loading"
					(change)="houseNumberTextfieldChange($event)"
				></dav-textfield>
			</div>

			<div class="dialog-formfield-container">
				<dav-textfield
					[value]="postalCode"
					[label]="locale.postalCode"
					[disabled]="loading"
					(change)="postalCodeTextfieldChange($event)"
				></dav-textfield>
			</div>
		</div>

		<!-- City -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="city"
				[label]="locale.city"
				[disabled]="loading"
				(change)="cityTextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Order Type -->
		<div class="dialog-formfield-container">
			<label class="radio-group-label">{{ locale.orderType }}</label>
			<dav-radio-group (change)="orderTypeRadioGroupChange($event)">
				<dav-radio-button
					[label]="locale.delivery"
					value="delivery"
					[checked]="orderType === 'delivery'"
				></dav-radio-button>

				<dav-radio-button
					[label]="locale.pickUp"
					value="pickUp"
					[checked]="orderType === 'pickUp'"
				></dav-radio-button>

				<dav-radio-button
					[label]="locale.dineIn"
					value="dineIn"
					[checked]="orderType === 'dineIn'"
				></dav-radio-button>
			</dav-radio-group>
		</div>
	</form>
</dav-dialog>
