.container {
	position: fixed;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100%;
	background-color: var(--dav-color-surface);
	padding: 0;
}

.header {
	grid-row: 1;
}

.content {
	grid-row: 2;
	height: 100%;
	width: 100%;
}
