<div class="container slide-up-in">
	<div class="content-container">
		<dav-header addButtonVisible (addButtonClick)="showAddEmployeeDialog()">
			{{ locale.headline }}
		</dav-header>

		<dav-list>
			@for (user of users; track user.uuid) {
				<dav-list-item [headline]="user.name"></dav-list-item>
			}
		</dav-list>
	</div>
</div>

<app-add-employee-dialog
	#addEmployeeDialog
	[loading]="addEmployeeDialogLoading"
	[nameError]="nameError"
	(primaryButtonClick)="addEmployeeDialogPrimaryButtonClick($event)"
	(clearErrors)="nameError = ''"
></app-add-employee-dialog>
