<div class="container">
	<div class="header">
		<app-header [showButton]="false" />
	</div>

	<div class="left-orders-container">
		<div class="orders-container">
			@if (tableLeft != null) {
				<app-orders-header
					[headline]="
						locale.tableHeadline
							.replace('{tableName}', tableLeft?.name.toString())
							.replace('{roomName}', tableLeftRoom?.name)
					"
					[showBackButton]="true"
					(backButtonClick)="navigateToBookingPage($event)"
				>
					<dav-icon-button
						size="sm"
						[tooltip]="locale.transferAllItemsToRight"
						(click)="bookedItemsRight.transferAllItems(bookedItemsLeft)"
					>
						<fa-icon [icon]="faChevronsRight"></fa-icon>
					</dav-icon-button>
				</app-orders-header>
			}

			<ul class="order-items-container">
				@if (ordersLoading) {
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
				}

				@if (
					!ordersLoading && bookedItemsLeft.getOrderItems().length === 0
				) {
					<p class="no-products-message">
						{{ locale.noProductsSelected }}
					</p>
				}

				@if (!ordersLoading) {
					@for (
						orderItem of bookedItemsLeft.getOrderItems();
						track orderItem.uuid
					) {
						<app-order-item-card
							[orderItem]="orderItem"
							(click)="
								transferItem(
									orderItem,
									bookedItemsLeft,
									bookedItemsRight
								)
							"
						></app-order-item-card>
					}
				}
			</ul>
		</div>

		<div class="price-container">
			<p>{{ showTotal(bookedItemsLeft) }}</p>
		</div>
	</div>

	<div class="right-orders-container">
		<div class="orders-container">
			@if (tableRight != null) {
				<app-orders-header
					[headline]="
						locale.tableHeadline
							.replace('{tableName}', tableRight?.name.toString())
							.replace('{roomName}', tableRightRoom?.name)
					"
				>
					<dav-icon-button
						size="sm"
						[tooltip]="locale.transferAllItemsToLeft"
						(click)="bookedItemsLeft.transferAllItems(bookedItemsRight)"
					>
						<fa-icon [icon]="faChevronsLeft"></fa-icon>
					</dav-icon-button>
				</app-orders-header>
			}

			<ul class="order-items-container">
				@if (ordersLoading) {
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
				}

				@if (
					!ordersLoading && bookedItemsRight.getOrderItems().length === 0
				) {
					<p class="no-products-message">
						{{ locale.noProductsSelected }}
					</p>
				}

				@if (!ordersLoading) {
					@for (
						orderItem of bookedItemsRight.getOrderItems();
						track orderItem.uuid
					) {
						<app-order-item-card
							[orderItem]="orderItem"
							(click)="
								transferItem(
									orderItem,
									bookedItemsRight,
									bookedItemsLeft
								)
							"
						></app-order-item-card>
					}
				}
			</ul>
		</div>

		<div class="price-container">
			<p>{{ showTotal(bookedItemsRight) }}</p>
		</div>
	</div>
</div>

<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
	<div class="popup-content">
		@if (tmpVariations != null) {
			<h2>
				{{ tmpVariations.product.name }}
			</h2>
			@for (
				variation of tmpVariations.orderItemVariations;
				track variation
			) {
				<div class="popup-content-dish">
					<button
						mat-mini-fab
						[disabled]="checkIfMinus(variation)"
						(click)="removeVariation(variation)"
					>
						<mat-icon>remove</mat-icon>
					</button>
					<b>
						{{ variation.count }}x
						@for (
							variationItem of variation.variationItems;
							track variationItem
						) {
							{{ variationItem.name }}
						}
					</b>
					<button
						mat-mini-fab
						[disabled]="checkIfPlus(variation)"
						(click)="addVariation(variation)"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			}
		}
		<button mat-flat-button (click)="closeItemPopup()">Schließen</button>
		<button
			mat-flat-button
			[disabled]="checkifVariationPicked()"
			(click)="transferVariation()"
		>
			Auswählen
		</button>
	</div>
</div>
