.container {
	height: 100vh;
	padding: 0 16px;
	background-color: black;
}

.section-1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	height: 100%;
	font-family: 'Geist Mono', sans-serif;
}

h1 {
	margin: 0;
	color: white;
}
