.container {
	position: fixed;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	height: 100vh;
	background-color: var(--dav-color-surface);
	padding: 0;
}

.header {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.table-overview-container {
	grid-column: 1;
	grid-row: 2;
	margin: 0 16px 16px 16px;
}

.rooms-sidenav-container {
	grid-column: 2;
	grid-row: 2;
	background-color: var(--dav-color-surface);
	padding: 0 4px;
}

.room-item-skeleton {
	width: 133px;
	height: 34px;
	border-radius: 20px;
}
