<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			addButtonVisible
			backButtonVisible
			(addButtonClick)="showAddCategoryDialog()"
			(backButtonClick)="navigateBack()"
		>
			{{ locale.headline }}
		</dav-header>

		@if (loading) {
			<dav-progress-ring size="24"></dav-progress-ring>
		} @else if (categories.length === 0) {
			<p class="no-categories-message">{{ locale.noCategories }}</p>
		} @else {
			@for (category of categories; track category.uuid) {
				<dav-card>
					<div class="category-card-container">
						<div
							class="category-card-content"
							(click)="navigateToProducts($event, category)"
						>
							<p>{{ category.name }}</p>
						</div>

						<dav-icon-button
							size="xs"
							[tooltip]="locale.options"
							(click)="showCategoryContextMenu($event, category)"
						>
							<fa-icon [icon]="faEllipsis"></fa-icon>
						</dav-icon-button>
					</div>
				</dav-card>
			}
		}
	</div>
</div>

<!-- Category Context Menu -->
<dav-context-menu
	#categoryContextMenu
	[visible]="categoryContextMenuVisible"
	[posX]="categoryContextMenuX"
	[posY]="categoryContextMenuY"
>
	<dav-context-menu-item
		[value]="actionsLocale.delete"
		(click)="deleteSelectedCategory()"
	>
		<fa-icon slot="icon" [icon]="faTrash"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<app-add-category-dialog
	#addCategoryDialog
	[loading]="addCategoryDialogLoading"
	[nameError]="addCategoryDialogNameError"
	(primaryButtonClick)="addCategoryDialogPrimaryButtonClick($event)"
	(clearErrors)="addCategoryDialogNameError = ''"
></app-add-category-dialog>
