<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			addButtonVisible
			backButtonVisible
			(addButtonClick)="showAddCategoryDialog()"
			(backButtonClick)="navigateBack()"
		>
			{{ locale.headline }}
		</dav-header>

		@if (loading) {
			<dav-progress-ring size="24"></dav-progress-ring>
		} @else if (categories.length === 0) {
			<p class="no-categories-message">{{ locale.noCategories }}</p>
		} @else {
			<dav-list>
				@for (category of categories; track category.uuid) {
					<dav-list-item
						[headline]="category.name"
						[href]="'/user/restaurants/' + uuid + '/menu/categories/' + category.uuid"
						(click)="navigateToProducts($event, category)"
					></dav-list-item>
				}
			</dav-list>
		}
	</div>
</div>

<app-add-category-dialog
	#addCategoryDialog
	[loading]="addCategoryDialogLoading"
	[nameError]="addCategoryDialogNameError"
	(primaryButtonClick)="addCategoryDialogPrimaryButtonClick($event)"
	(clearErrors)="addCategoryDialogNameError = ''"
></app-add-category-dialog>
