.print-rules-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.print-rule-card-container {
	display: grid;
	grid-template-columns: 1fr auto;
	margin: 0;
	gap: 12px;
	max-width: 300px;

	p {
		margin: 0;
		color: var(--dav-color-on-surface);
	}
}
