<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			backButtonVisible
			editButtonVisible
			(backButtonClick)="navigateBack()"
			(editButtonClick)="showEditRegisterClientNameDialog()"
		>
			{{ registerClient?.name ?? registerClient?.serialNumber }}
		</dav-header>

		<div>
			<dav-header
				size="sm"
				addButtonVisible
				(addButtonClick)="showAddPrintRuleDialog()"
			>
				{{ locale.printRulesHeadline }}
			</dav-header>
		</div>
	</div>
</div>

<app-edit-register-client-name-dialog
	#editRegisterClientNameDialog
	[name]="editRegisterClientNameDialogName"
	[nameError]="editRegisterClientNameDialogNameError"
	[loading]="editRegisterClientNameDialogLoading"
	(primaryButtonClick)="editRegisterClientNameDialogPrimaryButtonClick($event)"
></app-edit-register-client-name-dialog>

<app-add-print-rule-dialog
	#addPrintRuleDialog
	[loading]="addPrintRuleDialogLoading"
	[restaurantUuid]="restaurantUuid"
	(primaryButtonClick)="addPrintRuleDialogPrimaryButtonClick($event)"
></app-add-print-rule-dialog>
