<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			backButtonVisible
			editButtonVisible
			(backButtonClick)="navigateBack()"
			(editButtonClick)="showEditRegisterClientNameDialog()"
		>
			{{ registerClient?.name ?? registerClient?.serialNumber }}
		</dav-header>

		<div>
			<dav-header
				size="sm"
				addButtonVisible
				(addButtonClick)="showAddPrintRuleDialog()"
			>
				{{ locale.printRulesHeadline }}
			</dav-header>

			@if (registerClient?.printRules != null) {
				<div class="print-rules-list">
					@for (
						printRule of printRules;
						track printRule.uuid
					) {
						<dav-card>
							<div class="print-rule-card-container">
								<p [innerHTML]="getTextForPrintRule(printRule)"></p>

								<div>
									<dav-icon-button
										size="xs"
										[tooltip]="locale.options"
									>
										<fa-icon [icon]="faEllipsis"></fa-icon>
									</dav-icon-button>
								</div>

								<div>
									@for (
										printer of printRule.printers;
										track printer.uuid
									) {
										<dav-badge>{{ printer.name }}</dav-badge>
									}
								</div>
							</div>
						</dav-card>
					}
				</div>
			}
		</div>
	</div>
</div>

<app-edit-register-client-name-dialog
	#editRegisterClientNameDialog
	[name]="editRegisterClientNameDialogName"
	[nameError]="editRegisterClientNameDialogNameError"
	[loading]="editRegisterClientNameDialogLoading"
	(primaryButtonClick)="editRegisterClientNameDialogPrimaryButtonClick($event)"
></app-edit-register-client-name-dialog>

<app-add-print-rule-dialog
	#addPrintRuleDialog
	[loading]="addPrintRuleDialogLoading"
	[restaurantUuid]="restaurantUuid"
	(primaryButtonClick)="addPrintRuleDialogPrimaryButtonClick($event)"
></app-add-print-rule-dialog>
