.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0;
}

h3 {
	margin: 0;
	font-weight: 500;
}

.variation-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.variation-group > h3 {
	margin-bottom: 12px;
}

.variation-group-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
