@if (offer) {
	<dav-card class="offer-card">
		<div class="offer-header">
			<div class="header-content">
				<h3>{{ offer.name }}</h3>
				<span class="offer-id">ID: {{ offer.shortcut }}</span>
			</div>
			<div class="offer-actions">
				<dav-icon-button
					size="xs"
					[tooltip]="locale.options"
					(click)="optionsButtonClick.emit($event)"
				>
					<fa-icon [icon]="faEllipsis"></fa-icon>
				</dav-icon-button>
			</div>
		</div>

		<div class="separator"></div>

		<div class="offer-content">
			<div class="offer-meta">
				@if (offer.offer.offerType === "FIXED_PRICE") {
					<span class="price">{{
						formatPrice(offer.offer.offerValue)
					}}</span>
				} @else if (offer.offer.discountType === "PERCENTAGE") {
					<span class="price"> {{ offer.offer.offerValue }}% </span>
				} @else {
					<span class="price"
						>-{{ formatPrice(offer.offer.offerValue) }}
					</span>
				}
			</div>

			@let availability = formatAvailability(offer.offer);

			@if (availability) {
				<div class="offer-weekdays">
					{{ availability }}
				</div>
			}

			<!-- Offer Items -->
			@if (offer.offer?.offerItems?.length > 0) {
				@for (item of offer.offer.offerItems; track item.uuid) {
					<div class="offer-item">
						<div class="item-header">
							<h4>{{ item.name }}</h4>
							<span class="max-selections">
								(max. {{ item.maxSelections }} auswählbar)
							</span>
						</div>

						<div class="item-products">
							@for (product of item.products; track product.uuid) {
								<dav-badge color="secondary" tonal>
									{{ product.name }}
								</dav-badge>
							}
						</div>
					</div>
				}
			}
		</div>
	</dav-card>
}
