<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.select"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[primaryButtonDisabled]="
		selectedTableUuid == null || selectedTableUuid == currentTableUuid
	"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<dav-tree>
		@for (room of filteredRooms; track room.uuid) {
			<dav-tree-item
				[headline]="room.name"
				node
				[open]="currentRoomUuid === room.uuid || filteredRooms.length === 1"
			>
				@for (table of room.tables; track table.uuid) {
					<dav-tree-item
						[headline]="table.name"
						[active]="
							(selectedTableUuid == null &&
								currentTableUuid === table.uuid) ||
							selectedTableUuid === table.uuid
						"
						(click)="selectTable(table.uuid)"
					></dav-tree-item>
				}
			</dav-tree-item>
		}
	</dav-tree>
</dav-dialog>
