<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			backButtonVisible
			(backButtonClick)="navigateToLandingOverviewPage()"
		>
			{{ title }}

			<div class="header-icons-container" slot="icons">
				<dav-icon-button
					size="sm"
					href="/dashboard/settings"
					[tooltip]="locale.generalSettings"
					(click)="navigateToGeneralSettingsPage($event)"
				>
					<fa-icon [icon]="faGear"></fa-icon>
				</dav-icon-button>

				<dav-icon-button
					size="sm"
					[tooltip]="actionsLocale.logout"
					(click)="showLogoutDialog()"
				>
					<fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
				</dav-icon-button>
			</div>
		</dav-header>

		<div class="actions-container">
			<dav-icon-card
				[text]="locale.goToTableOverview"
				href="/dashboard/tables"
				(click)="navigateToTableOverviewPage($event)"
			>
				<fa-icon [icon]="faMap"></fa-icon>
			</dav-icon-card>

			@if (
				dataService.user != null &&
				["OWNER", "ADMIN"].includes(dataService.user.role)
			) {
				<dav-icon-card
					[text]="locale.manageEmployees"
					href="/dashboard/employees"
					(click)="navigateToEmployeesPage($event)"
				>
					<fa-icon [icon]="faUsers"></fa-icon>
				</dav-icon-card>

				<dav-icon-card
					[text]="locale.manageRestaurants"
					href="/dashboard/restaurants"
					(click)="navigateToRestaurantsPage($event)"
				>
					<fa-icon [icon]="faShop"></fa-icon>
				</dav-icon-card>

				<dav-icon-card
					[text]="locale.manageReservations"
					href="/dashboard/reservations"
					(click)="navigateToReservationsPage($event)"
				>
					<fa-icon [icon]="faCalendarCheck"></fa-icon>
				</dav-icon-card>
			}
		</div>

		@if (
			dataService.user != null &&
			["OWNER", "ADMIN"].includes(dataService.user.role) &&
			(dataService.register?.status === "INACTIVE" ||
				dataService.company?.stripeOnboardingStatus === "PENDING")
		) {
			<div class="activation-actions-container">
				<h2>{{ locale.activationActionsHeadline }}</h2>
				<p>{{ locale.activationActionsDescription }}</p>

				<div>
					@if (dataService.register?.status === "INACTIVE") {
						<dav-icon-card
							[text]="locale.activateRegister"
							(click)="showActivateRegisterDialog()"
						>
							<fa-icon [icon]="faBadgeCheck"></fa-icon>
						</dav-icon-card>
					}

					@if (dataService.company?.stripeOnboardingStatus === "PENDING") {
						<dav-icon-card
							[text]="locale.stripeOnboarding"
							(click)="navigateToStripeOnboardingPage()"
						>
							<fa-icon [icon]="faGears"></fa-icon>
						</dav-icon-card>
					}
				</div>
			</div>
		}
	</div>
</div>

<app-logout-dialog
	#logoutDialog
	(primaryButtonClick)="logout()"
></app-logout-dialog>

<app-activate-register-dialog
	#activateRegisterDialog
	[loading]="activateRegisterDialogLoading"
	(primaryButtonClick)="activateRegisterDialogPrimaryButtonClick()"
></app-activate-register-dialog>
