<div class="container slide-up-in">
	<div class="content-container">
		<dav-header backButtonVisible (backButtonClick)="navigateBack()">
			{{ locale.headline }}
		</dav-header>

		<div class="separator"></div>

		<div class="actions-container">
			<div class="actions-container">
				<dav-icon-card
					[text]="locale.products"
					[href]="'/user/restaurants/' + uuid + '/menu/products'"
					(click)="navigateToProductsPage($event)"
				>
					<fa-icon [icon]="faPen"></fa-icon>
				</dav-icon-card>

				<dav-icon-card
					[text]="locale.variations"
					[href]="'/user/restaurants/' + uuid + '/menu/offers'"
					(click)="navigateToVariationsPage($event)"
				>
					<fa-icon [icon]="faPen"></fa-icon>
				</dav-icon-card>

				<dav-icon-card
					[text]="locale.options"
					[href]="'/user/restaurants/' + uuid + '/menu/menus'"
					(click)="navigateToOptionsPage($event)"
				>
					<fa-icon [icon]="faPen"></fa-icon>
				</dav-icon-card>
			</div>
		</div>
	</div>
</div>
