.special-opening-time-header {
	margin: 16px;
}

.special-cards-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.openingTime-card-container {
	display: flex;
	gap: 16px;
	margin: 0;
}

.openingTime-card-content p {
	margin: 0;
}
