<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		<!-- Line1 -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="line1"
				[label]="line1Name"
				[disabled]="loading"
				[errorMessage]="line1Error"
				(change)="line1TextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Line 2 -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="line2"
				[label]="line2Name"
				[disabled]="loading"
				[errorMessage]="line2Error"
				(change)="line2TextfieldChange($event)"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>