<div id="wrapper">
	<header>Bediener 1 Tisch 1</header>
	<div id="mehrspaltig">
		<nav>
			<div id="order">
				<div class="tables">
					@for (item of bookedItems.keys(); track item) { 
						@for(variation of bookedItems.get(item).keys();track variation){
						<mat-card
							(click)="onCardClick(item, 'booked')"
							[ngClass]="{ 'selected-card': isSelectedBooked(item) }"
						>
							<mat-card-content class="card-content">
								{{ item.name }}
								@if(variation.name!==null){
								{{ variation.name }}
								}
								{{ bookedItems.get(item).get(variation) }} Stück
								{{
									calculateTotalPrice(
										item.price,
										variation.preis,
										bookedItems.get(item).get(variation)
									)
								}}€
							</mat-card-content>
						</mat-card>
						} 
					}
					<mat-card>
						<mat-card-content>Tisch 12</mat-card-content>
					</mat-card>
					@for (item of newItems.keys(); track item) { @for(variation of
					newItems.get(item).keys();track variation){
					<mat-card
						(click)="onCardClick(item, 'new')"
						[ngClass]="{ 'selected-card': isSelectedNew(item) }"
					>
						<mat-card-content class="card-content">
							{{ item.name }}
							@if(variation.name!==null){
							{{ variation.name }}
							}
							{{ newItems.get(item).get(variation) }} Stück
							{{
								calculateTotalPrice(
									item.price,
									variation.preis,
									newItems.get(item).get(variation)
								)
							}}€
						</mat-card-content>
					</mat-card>
					} }
				</div>
			</div>
			<div id="numpad">
				<mat-card>
					<mat-card-content> {{ console }} </mat-card-content>
				</mat-card>
				<div>
					@for(number of numberpad; track number){
					<button mat-flat-button (click)="consoleInput(number.toString())">{{ number }}</button>
					@if(number==3){
					<button mat-flat-button>X</button>
					<br />
					} @if(number==6){
					<button mat-flat-button (click)="showTotal()">Clear</button>
					<br />
					} @if(number==9){
					<button mat-flat-button>Plus</button>
					<br />
					} }
					<button mat-flat-button [disabled]=commaUsed||!consoleActive (click)="consoleInput(',')" (click)="commaUsed=true">,</button>
					<button mat-flat-button (click)="consoleInput('0')">0</button>
					<button mat-flat-button>-</button>
					<button mat-flat-button>Enter</button>
					<br />
					<button (click)="deleteItem()" mat-flat-button>Delete</button>
				</div>
			</div>
		</nav>
		<article>
			<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
				<div class="popup-content">
					@if(isItemPopupVisible){ @for (item of
					lastClickedItem.variations; track item){
					<button mat-flat-button (click)="setVariation(item)">
						{{ item.name }}
						+ {{ item.preis }}
					</button>
					} }
					<button mat-flat-button (click)="toggleItemPopup()">
						Schließen
					</button>
				</div>
			</div>
			<div id="items">
				@for (item of selectedInventory; track item){
				<button (click)="selectItem(item)" mat-flat-button>
					{{ item.name }}
				</button>
				}
			</div>
		</article>
		<aside>
			<div id="drinks">
				@for (drink of drinks; track drink){
				<button
					(click)="changeSelectedInventory(drink.items)"
					mat-flat-button
				>
					{{ drink.name }}
				</button>
				}
			</div>
			<div id="dishes">
				@for (dish of dishes; track dish){
				<button
					(click)="changeSelectedInventory(dish.items)"
					mat-flat-button
				>
					{{ dish.name }}
				</button>
				}
			</div>
		</aside>
	</div>
	<footer>
		<div id="footerButtonsContainer">
			<button mat-flat-button class="footerButton" (click)="sendOrder()"> 
				Bestellung abschicken
			</button>
			<button mat-flat-button class="footerButton"> 
				Umbuchen
			</button>
			<button mat-flat-button class="footerButton"> 
				Tischplan
			</button>
			<button mat-flat-button class="footerButton"> 
				Tisch
			</button>
			<button mat-flat-button class="footerButton"> 
				Rechnungen
			</button>
			<button mat-flat-button class="footerButton"> 
				Bar
			</button>
			<button mat-flat-button class="footerButton"> 
				Karte
			</button>
			<button mat-flat-button class="footerButton"> 
				Getrennt
			</button>
		</div>
	</footer>
</div>
