<div id="wrapper">
	<div class="header">
		<app-header [showButton]="false" />
	</div>
	<div id="mehrspaltig">
		<nav>
			<div class="items">
				<div>
					<mat-card>
						<mat-card-content>Tisch {{ table?.name }}</mat-card-content>
					</mat-card>
					@for (item of bookedItems.getItems(); track item.uuid) {
					<mat-card
						style="cursor: pointer"
						(click)="transferItem(item, bookedItems, activeBill)"
					>
						<mat-card-content class="card-content">
							@if(item.orderItemVariations.length > 0){
							<span class="item-price">
								{{
									(item.count * (item.product.price / 100)).toFixed(2)
								}}
								€
							</span>
							} @else {
							<span class="total-price"
								>{{ calculateTotalPriceOfOrderItem(item) }} €</span
							>
							}
							<strong>
								{{ item.count }} x
								{{ item.product.name }}
								{{ (item.product.price / 100).toFixed(2) }} €
							</strong>

							<!--
							<span class="total-price">
								@if(item.variations != null){
								{{
									(
										item.price * item.count +
										bookedItems.getTotalVariationPrice(
											item.variations.items
										)
									).toFixed(2)
								}}€ }@else {
								{{ (item.price * item.count).toFixed(2) }}€ }
							</span>
							<strong>
								{{ item.count }} x
								{{ item.name }}
								{{ item.price.toFixed(2) }}€
							</strong>
						-->
						</mat-card-content>
						 <mat-card-content>
							#{{ item.product.id }}
							@if(item.orderItemVariations.length > 0){
							<span class="total-price">
								{{ calculateTotalPriceOfOrderItem(item) }}€
							</span>
							}
						 </mat-card-content>
					</mat-card>
					}
				</div>
			</div>
			<div>
				<mat-card class="price">
					<mat-card-content>
						{{ showTotal(bookedItems) }}
					</mat-card-content>
				</mat-card>
			</div>
		</nav>
		<article>
			<div id="top">
				<button
					mat-flat-button
					[disabled]="checkMaxBills()"
					(click)="addBill()"
				>
					Rechnung hinzufügen
				</button>
				<button
					[disabled]="bills.length === 1"
					(click)="deleteBill()"
					mat-flat-button
				>
					Rechnung entfernen
				</button>
			</div>
			<div id="bottom">
				<mat-card style="width: 30%; margin-bottom: 2px">
					<mat-card-content> {{ console }} </mat-card-content>
				</mat-card>
				<div>
					@for(number of numberpad; track number){
					<button
						mat-flat-button
						(click)="consoleInput(number.toString())"
					>
						{{ number }}
					</button>
					@if(number==3){
					<br />
					} @if(number==6){
					<br />
					} @if(number==9){
					<br />
					} }
				</div>
				<div>
					<button mat-flat-button (click)="clearInput()">clear</button>
					<button
						mat-flat-button
						[disabled]="!consoleActive"
						(click)="consoleInput('0')"
					>
						0
					</button>
				</div>
			</div>
		</article>
		<aside>
			<div class="items">
				<div>
					@for (bill of bills; track bill; let index = $index) {
					<mat-card
						(click)="setActiveBill(bill)"
						style="cursor: pointer"
						[style.background-color]="
							activeBill === bill ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content>Rechnung {{ index + 1 }}</mat-card-content>
					</mat-card>
					@for (item of bill.getItems(); track item) {
					<mat-card
						style="cursor: pointer"
						(click)="transferItem(item, bill, bookedItems)"
					>
						<mat-card-content class="card-content">
							<!--
							<span class="total-price">
								@if(item.variations != null){
								{{
									(
										item.price * item.count +
										bill.getTotalVariationPrice(item.variations.items)
									).toFixed(2)
								}}€ }@else {
								{{ (item.price * item.count).toFixed(2) }}€ }
							</span>
							<strong>
								{{ item.count }} x
								{{ item.name }}
								{{ item.price.toFixed(2) }}€
							</strong>
							-->
						</mat-card-content>
						@if(item.orderItemVariations){ @for(variation of
						item.orderItemVariations; track variation){
						<mat-card-content></mat-card-content>
						} }
						<mat-card-content> #{{ item.uuid }} </mat-card-content>
					</mat-card>
					} }
				</div>
			</div>
			<div>
				<mat-card class="price">
					<mat-card-content>
						{{ calculateTotalBills() }}
					</mat-card-content>
				</mat-card>
			</div>
		</aside>
	</div>
	<footer>
		<div id="footerButtonsContainer">
			<button mat-flat-button class="footerButton" [routerLink]="['../']">
				Tisch {{ table?.name }}
			</button>
			<button mat-flat-button class="footerButton" [routerLink]="['../../']">
				Tischplan
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[disabled]="!consoleActive"
				[routerLink]="['../../' + console]"
			>
				Tisch
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[disabled]="activeBill.isEmpty()"
				(click)="createBill('Bar')"
			>
				Bar
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[disabled]="activeBill.isEmpty()"
				(click)="createBill('Karte')"
			>
				Karte
			</button>
		</div>
	</footer>
	<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
		<div class="popup-content">
			<h2>
				@if(lastClickedItem) {
				{{ lastClickedItem.anzahl }} x
				{{ lastClickedItem.name }}
				}
			</h2>
			@if(isItemPopupVisible){ @for (variation of
			lastClickedItem.pickedVariation.values(); track variation){
			<div class="popup-content-dish">
				<button
					[disabled]="
						!tmpVariations.has(variation.id) ||
						tmpVariations.get(variation.id).anzahl === 0
					"
					mat-mini-fab
					(click)="removeVariation(variation)"
				>
					<mat-icon>remove</mat-icon>
				</button>
				<b>
					@if(tmpVariations.has(variation.id)){
					{{ tmpVariations.get(variation.id).anzahl }}
					} @else(){ 0 } x mit {{ variation.name }}
					<br />
					+ {{ variation.preis }}€
				</b>
				<button
					mat-mini-fab
					[disabled]="checkLimitAnzahl(variation.id)"
					(click)="addVariation(variation)"
				>
					<mat-icon>add</mat-icon>
				</button>
			</div>

			} }
			<button mat-flat-button (click)="closeItemPopup()">Schließen</button>
			<button
				mat-flat-button
				[disabled]="checkPickedVariation()"
				(click)="sendVariation()"
			>
				Auswählen
			</button>
		</div>
	</div>
</div>
