.container {
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 91.65vh;
}

.tab {
	flex: 7;
	background-color: grey;
}

.divider {
	flex: 1;
	background-color: green;
	display: flex;
	flex-direction: column;
}

.list {
    flex:1
}
