<app-settings-bar>
	<div class="container">
		<div class="divider">
			<mat-list role="list" class="list">
				<mat-list-item role="listitem">Speisen</mat-list-item>
				<mat-list-item role="listitem">Item 2</mat-list-item>
				<mat-list-item role="listitem">Item 3</mat-list-item>
			</mat-list>
			<mat-list role="list" class="list">
				<mat-list-item role="listitem">Getränke</mat-list-item>
				<mat-list-item role="listitem">Item 2</mat-list-item>
				<mat-list-item role="listitem">Item 3</mat-list-item>
			</mat-list>
		</div>
		<mat-tab-group class="tab">
			<mat-tab label="Items"> Items </mat-tab>
			<mat-tab label="Variationen"> Variationen </mat-tab>
			<mat-tab label="Menüs"> Menüs </mat-tab>
		</mat-tab-group>
	</div>
</app-settings-bar>
