.container {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-rows: 1fr;
	gap: 16px;
	height: 100%;
	width: 100%;
	background-color: var(--dav-color-surface);
	padding: 0;
}

.add-product-button {
	display: none;
}

.orders-numpad-container {
	grid-column: 1;
	display: grid;
	grid-template-rows: 1fr auto;
	overflow: hidden;
}

.orders-container {
	overflow-y: scroll;
	grid-row: 1;
	padding-bottom: 8px;
}

.numpad-container {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.numpad-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4px;

	dav-button {
		width: 100%;
	}
}

.numpad-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4px;
}

.product-selection-container {
	grid-column: 2;
}

.product-items {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.categories-sidenav-container {
	grid-column: 3;
	background-color: var(--dav-color-surface);
}

.category-item-skeleton {
	width: 133px;
	height: 34px;
	border-radius: 20px;
}

.product-item-skeleton {
	width: 120px;
	height: 40px;
	border-radius: 20px;
}

.staged-items-separator {
	display: flex;
	align-items: center;
	margin: 16px 0;
	gap: 14px;
}

.staged-items-separator p {
	margin: 0;
	text-wrap-mode: nowrap;
	color: var(--dav-color-on-surface);
}

.separator {
	width: 100%;
	border-top: 1px solid var(--dav-color-outline-variant);
}

.order-items-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0;
	margin: 0;
}

.order-item-card-skeleton {
	width: 100%;
	height: 55px;
	border-radius: 12px;
}

.no-products-message {
	color: var(--dav-color-on-surface);
	margin: 0;
	font-size: 14px;
	font-style: italic;
	font-weight: 200;
}

.console-output {
	border-top: 1px solid var(--dav-color-outline-variant);
}

.console-output > p {
	margin: 16px;
	text-align: right;
	color: var(--dav-color-on-surface);
}

.bottom-sheet-content-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px;

	dav-icon-card {
		width: 100%;
	}
}

dav-bottom-sheet {
	display: none;
}

@media screen and (max-width: 1280px) {
	.container {
		grid-template-columns: 2fr 1fr auto;
	}
}

@media screen and (max-width: 860px) {
	.container {
		grid-template-columns: 1fr;
	}

	.product-selection-container {
		display: none;
	}

	.categories-sidenav-container {
		display: none;
	}

	.add-product-button {
		display: block;
	}

	.numpad-buttons {
		margin-bottom: 16px;
	}

	.numpad-footer {
		display: none;
	}

	.numpad-footer-separator {
		display: none;
	}

	dav-bottom-sheet {
		display: unset;
	}
}
