<div class="container">
	<div class="content-container">
		<dav-header
			backButtonVisible
			addButtonVisible
			editButtonVisible
			(backButtonClick)="navigateBack()"
			(addButtonClick)="handleAddButtonClick()"
			(editButtonClick)="handleEditButtonClick()"
		>
			{{ category?.name || locale.headline }}
		</dav-header>

		<dav-tab-bar>
			<dav-tab-bar-item
				id="tab-food"
				[active]="activeTab === 'food'"
				(click)="selectTab('food')"
			>
				Speisen
			</dav-tab-bar-item>
			<dav-tab-bar-item
				id="tab-drinks"
				[active]="activeTab === 'drinks'"
				(click)="selectTab('drinks')"
			>
				Getränke
			</dav-tab-bar-item>
			<dav-tab-bar-item
				id="tab-specials"
				[active]="activeTab === 'specials'"
				(click)="selectTab('specials')"
			>
				Specials
			</dav-tab-bar-item>
			<dav-tab-bar-item
				id="tab-menus"
				[active]="activeTab === 'menus'"
				(click)="selectTab('menus')"
			>
				Menüs
			</dav-tab-bar-item>
		</dav-tab-bar>

		<!-- Menüs-Liste (wenn Tab menus aktiv) -->
		@if (activeTab === "menus") {
			<app-offer-list
				[offers]="menus"
				(editOffer)="showEditOfferDialog($event)"
				(deleteOffer)="deleteOffer($event)"
			></app-offer-list>
		}

		<!-- Specials-Liste (wenn Tab specials aktiv) -->
		@if (activeTab === "specials") {
			<app-offer-list
				[offers]="specials"
				(editOffer)="showEditOfferDialog($event)"
				(deleteOffer)="deleteOffer($event)"
			></app-offer-list>
		}

		@if (category && activeTab !== "menus" && activeTab !== "specials") {
			<app-product-list
				[category]="category"
				[activeTab]="activeTab"
				(editProduct)="showEditProductDialog($event)"
			></app-product-list>
		}
	</div>
</div>

<app-edit-category-dialog
	#editCategoryDialog
	[category]="category"
	[loading]="editCategoryDialogLoading"
	[nameError]="editCategoryDialogNameError"
	(primaryButtonClick)="editCategoryDialogPrimaryButtonClick($event)"
	(clearErrors)="editCategoryDialogNameError = ''"
></app-edit-category-dialog>

<!-- Add Offer Dialog -->
<app-add-offer-dialog
	#addOfferDialog
	[loading]="addOfferDialogLoading"
	[availableProducts]="availableProducts"
	(primaryButtonClick)="addOfferDialogPrimaryButtonClick($event)"
></app-add-offer-dialog>

<!-- Edit Offer Dialog -->
<app-edit-offer-dialog
	#editOfferDialog
	[loading]="editOfferDialogLoading"
	[availableProducts]="availableProducts"
	(primaryButtonClick)="editOfferDialogPrimaryButtonClick($event)"
></app-edit-offer-dialog>

<app-add-product-dialog
	#addProductDialog
	[loading]="addProductDialogLoading"
	[nameError]="addProductDialogNameError"
	[priceError]="addProductDialogPriceError"
	[category]="category"
	[productType]="mapPathToType(activeTab)"
	[availableVariations]="availableVariations"
	(primaryButtonClick)="addProductDialogPrimaryButtonClick($any($event))"
	(clearErrors)="
		addProductDialogNameError = ''; addProductDialogPriceError = ''
	"
></app-add-product-dialog>

<app-edit-product-dialog
	#editProductDialog
	[loading]="editProductDialogLoading"
	[nameError]="editProductDialogNameError"
	[priceError]="editProductDialogPriceError"
	[availableVariations]="availableVariations"
	(primaryButtonClick)="editProductDialogPrimaryButtonClick($any($event))"
	(clearErrors)="
		editProductDialogNameError = ''; editProductDialogPriceError = ''
	"
></app-edit-product-dialog>
