.container {
	height: 100vh;
	padding: 16px;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Geist Mono", sans-serif;
}

.content {
	width: 100%;
	max-width: 800px;
	margin-top: 24px;
}
