.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 400px;
	box-sizing: border-box;
}

.selected-printers-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 12px;
}

.category-search-container,
.product-search-container {
	margin-left: 32px;
}
