<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.add"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	[loading]="loading"
	[primaryButtonDisabled]="selectedPrinters.length === 0"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<div class="container">
		<div class="printer-search-container">
			<dav-search-textfield
				[label]="locale.selectPrinters"
				[searchResults]="printers"
				(select)="printersSearchTextfieldSelect($event)"
			></dav-search-textfield>

			<div class="selected-printers-container">
				@for (printer of selectedPrinters; track printer.key) {
					<dav-badge (click)="removeSelectedPrinter(printer.key)">
						{{ printer.value }}
					</dav-badge>
				}
			</div>
		</div>

		<dav-radio-group (change)="radioGroupChange($event)">
			<dav-radio-button
				[label]="locale.bills"
				value="bills"
				checked
			></dav-radio-button>

			<dav-radio-button
				[label]="locale.allFoodAndDrinks"
				value="allFoodAndDrinks"
			></dav-radio-button>

			<dav-radio-button
				[label]="locale.allDrinks"
				value="allDrinks"
			></dav-radio-button>

			<dav-radio-button
				[label]="locale.allFood"
				value="allFood"
			></dav-radio-button>

			<dav-radio-button
				[label]="locale.categories"
				value="categories"
			></dav-radio-button>

			<div class="category-search-container">
				<dav-search-textfield
					[label]="locale.selectCategories"
					[searchResults]="categories"
					(select)="categoriesSearchTextfieldSelect($event)"
					[disabled]="selectedPrintRuleType !== 'categories'"
				></dav-search-textfield>
			</div>

			<dav-radio-button
				[label]="locale.products"
				value="products"
			></dav-radio-button>

			<div class="product-search-container">
				<dav-search-textfield
					[label]="locale.selectProducts"
					[searchResults]="products"
					(select)="productsSearchTextfieldSelect($event)"
					[disabled]="selectedPrintRuleType !== 'products'"
				></dav-search-textfield>
			</div>
		</dav-radio-group>
	</div>
</dav-dialog>
