.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 400px;
	box-sizing: border-box;
	padding: 0;

	p {
		margin: 0;
	}

	> div {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.selected-printers-container,
.selected-categories-container,
.selected-products-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 12px;
}

.category-search-container,
.product-search-container {
	margin-left: 32px;
}
