.container {
   display: flex;
   flex-direction: row;
   padding: 0;
   height: 65vh;
   width: 800px;
}

h3 {
   margin: 0 0 8px 0;
}

.categories-container {
   width: 20%;
	border-right: 1px solid var(--dav-color-outline-variant);
   padding: 0 16px 16px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.products-container {
   width: 50%;
   padding: 0 16px 16px;
   border-right: 1px solid var(--dav-color-outline-variant);
}

.products-list {
   display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.selection-container {
   width: 30%;
   padding: 0 16px 16px;
}
