<dav-dialog
	#dialog
	[visible]="visible"
	maxWidth="800"
	(dismiss)="dismiss()"
>
	<div class="container">
		<div class="categories-container">
			<h3>{{ locale.categoriesHeadline }}</h3>

			<dav-sidenav>
				@for (category of categories; track category.uuid) {
					<dav-sidenav-item
						[value]="category.name"
						[active]="category === selectedCategory"
						(click)="selectCategory(category)"
					></dav-sidenav-item>
				}
			</dav-sidenav>
		</div>

		<div class="products-container">
			<h3>{{ locale.productsHeadline }}</h3>

			<div class="products-list">
				@for (product of selectedProducts; track product.uuid) {
					<dav-button
						class="slide-up-in-light"
						(click)="selectProduct(product)"
					>
						{{ product.name }}
					</dav-button>
				}
			</div>
		</div>

		<div class="selection-container">
			<h3>{{ locale.selectionHeadline }}</h3>

			<div class="selected-items-list">
				@for (
					orderItem of allItemHandler.getOrderItems();
					track orderItem.uuid
				) {
					<app-counter
						[count]="orderItem.count"
						[headline]="orderItem.product.name"
						(change)="counterChange(orderItem, $event)"
					></app-counter>
				}
			</div>

			<div class="actions-container">
				<dav-button
					size="sm"
					outline
					color="primary"
					(click)="visible = false"
				>
					{{ actionsLocale.cancel }}
				</dav-button>

				<dav-button size="sm" color="primary">
					{{ actionsLocale.add }}
				</dav-button>
			</div>
		</div>
	</div>
</dav-dialog>
