<div class="container slide-up-in">
	<div class="content-container">
		<dav-header backButtonVisible (backButtonClick)="navigateBack()">
			{{ locale.headline }}
		</dav-header>

		<div class="actions-container">
			<dav-icon-card
				[text]="locale.category"
				[href]="'/user/restaurants/' + uuid + '/menu/categories'"
				(click)="navigateToCategoriesPage($event)"
			>
				<fa-icon [icon]="faTags"></fa-icon>
			</dav-icon-card>

			<dav-icon-card
				[text]="locale.variations"
				[href]="'/user/restaurants/' + uuid + '/menu/variations'"
				(click)="navigateToVariationsPage($event)"
			>
				<fa-icon [icon]="faSplit"></fa-icon>
			</dav-icon-card>
		</div>
	</div>
</div>
