<div class="container slide-up-in">
	<div class="content-container">
		<h1>{{ title }}</h1>

		<dav-list>
			<dav-list-item
				[headline]="locale.goToDashboard"
				href="dashboard"
				(click)="navigateToDashboardPage($event)"
			></dav-list-item>

			@if (
				dataService.user != null &&
				["OWNER", "ADMIN"].includes(dataService.user.role)
			) {
				<dav-list-item
					[headline]="locale.manageEmployees"
					href="user/employees"
					(click)="navigateToEmployeesPage($event)"
				></dav-list-item>

				<dav-list-item
					[headline]="locale.manageRestaurants"
					href="user/restaurants"
					(click)="navigateToRestaurantsPage($event)"
				></dav-list-item>
			}
		</dav-list>
	</div>
</div>
