<div class="container slide-up-in">
	<div class="content-container">
		<dav-header>
			{{ title }}

			<div slot="icons">
				<dav-icon-button size="sm" (click)="showLogoutDialog()">
					<fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
				</dav-icon-button>
			</div>
		</dav-header>

		<div class="actions-container">
			<dav-icon-card
				[text]="locale.goToDashboard"
				href="dashboard"
				(click)="navigateToDashboardPage($event)"
			>
				<fa-icon [icon]="faCashRegister"></fa-icon>
			</dav-icon-card>

			@if (
				dataService.user != null &&
				["OWNER", "ADMIN"].includes(dataService.user.role)
			) {
				<dav-icon-card
					[text]="locale.manageEmployees"
					href="user/employees"
					(click)="navigateToEmployeesPage($event)"
				>
					<fa-icon [icon]="faUsers"></fa-icon>
				</dav-icon-card>

				<dav-icon-card
					[text]="locale.manageRestaurants"
					href="user/restaurants"
					(click)="navigateToRestaurantsPage($event)"
				>
					<fa-icon [icon]="faShop"></fa-icon>
				</dav-icon-card>
			}
		</div>
	</div>
</div>

<app-logout-dialog
	#logoutDialog
	(primaryButtonClick)="logout()"
></app-logout-dialog>
