.settings-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 24px;
}

.setting {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
}

.device-info {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 8px;
	color: var(--dav-color-on-surface);

	p {
		margin: 0;
	}
}

.device-name {
	display: flex;
	align-items: center;
	gap: 8px;

	span {
		font-style: italic;
	}
}
