<div class="container slide-up-in">
	<div class="content">
		<h1>{{ locale.headline }}</h1>
		<p>{{ locale.description }}</p>

		<form>
			<dav-textfield
				[label]="locale.passwordLabel"
				[placeholder]="locale.passwordPlaceholder"
				type="password"
				[disabled]="loading"
				(change)="passwordChange($event)"
			></dav-textfield>

			<dav-textfield
				[label]="locale.passwordConfirmationLabel"
				[placeholder]="locale.passwordConfirmationPlaceholder"
				type="password"
				[disabled]="loading"
				(change)="passwordConfirmationChange($event)"
			></dav-textfield>

			<div class="button-container" [class.loading]="loading">
				<dav-button
					size="sm"
					outline
					[disabled]="loading"
					(click)="send()"
				>
					{{ actionsLocale.save }}
				</dav-button>

				@if (loading) {
					<dav-progress-ring size="16"></dav-progress-ring>
				}
			</div>
		</form>
	</div>
</div>
