<dav-dialog
	#dialog
	[headline]="locale.headline"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(defaultButtonClick)="hide()"
>
	<dav-tree>
		@for (category of categories; track category.uuid) {
			<dav-tree-item [headline]="category.name" node [open]="false">
				@for (product of category.products; track product.uuid) {
					<dav-tree-item
						[headline]="product.name"
						(click)="submitProduct(product)"
					></dav-tree-item>
				}
			</dav-tree-item>
		}
	</dav-tree>
</dav-dialog>
