<li
	class="offer-order-item-card"
	[class.selected]="selectedOfferOrderItemUuid === offerOrderItem.uuid"
>
	<div class="offer-order-item-card-id">
		<p>#{{ offerOrderItem.product.id }}</p>
	</div>

	<div class="offer-order-item-card-name">
		<p>{{ offerOrderItem.product.name }}</p>
	</div>

	<div class="offer-order-item-card-total-price">
		<p>{{ calculateTotalPriceOfOfferOrderItem(offerOrderItem) }} €</p>
	</div>

	@if (offerOrderItem.orderItems.length > 0) {
		<div class="offer-order-item-variations-separator"></div>

		@for (orderItem of offerOrderItem.orderItems; track orderItem.uuid) {
			<div class="offer-order-item-card-variation-name">
				<p>- {{ orderItem.product.name }}</p>
			</div>

			<div class="offer-order-item-card-variation-unit-price">
				<p>
					{{ orderItem.count }} ×
					{{
						(orderItem.product.price / 100).toFixed(2).replace(".", ",")
					}}
					€
				</p>
			</div>

			@for (
				variation of orderItem.orderItemVariations;
				track variation.uuid
			) {
				@for (
					variationItem of variation.variationItems;
					track variationItem.uuid
				) {
					<div class="offer-order-item-card-variation-name">
						<p>- {{ variationItem.name }}</p>
					</div>

					<div class="offer-order-item-card-variation-unit-price">
						<p>
							{{ variation.count }} ×
							{{
								(variationItem.additionalCost / 100)
									.toFixed(2)
									.replace(".", ",")
							}}
							€
						</p>
					</div>
				}
			}
		}
	}
</li>
