<li
	class="offer-order-item-card slide-up-in-light"
	[class.selected]="selectedOrderItemUuid === orderItem.uuid"
>
	<div class="offer-order-item-card-id">
		<p>#{{ orderItem.product.id }}</p>
	</div>

	<div class="offer-order-item-card-name">
		<p>{{ orderItem.product.name }}</p>
		@if (orderItem.notes) {
			<fa-icon
				[icon]="faNoteSticky"
				class="note-icon"
				(click)="onNoteIconClick($event)"
			></fa-icon>
		}
		@if (orderItem.takeAway) {
			<fa-icon [icon]="faCupTogo" class="takeaway-icon"></fa-icon>
		}
		@if (orderItem.course) {
			<span class="course-badge">
				<fa-icon [icon]="faUtensils" class="course-icon"></fa-icon>
				{{ orderItem.course }}
			</span>
		}
	</div>

	<div class="offer-order-item-card-unit-price">
		@if (orderItem.count > 1 && orderItem.type !== "SPECIAL") {
			<p>
				{{ orderItem.count }} ×
				{{ formatPrice(calculateUnitPriceOfOrderItem(orderItem)) }}
			</p>
		}
	</div>

	<div class="offer-order-item-card-total-price">
		<p>
			{{ formatPrice(calculateTotalPriceOfOrderItem(orderItem)) }}
		</p>
	</div>

	@if (orderItem.orderItems.length > 0) {
		<div class="offer-order-item-variations-separator"></div>

		@for (orderItem of orderItem.orderItems; track orderItem.uuid) {
			<div class="offer-order-item-card-product-name">
				<p>- {{ orderItem.product.name }}</p>
			</div>

			<div class="offer-order-item-card-variation-unit-price">
				<p>
					{{ orderItem.count }} ×
					{{ formatPrice(orderItem.product.price) }}
				</p>
			</div>

			@for (
				variation of orderItem.orderItemVariations;
				track variation.uuid
			) {
				@for (
					variationItem of variation.variationItems;
					track variationItem.uuid
				) {
					<div class="offer-order-item-card-variation-name">
						<p>- {{ variationItem.name }}</p>
					</div>

					<div class="offer-order-item-card-variation-unit-price">
						@if (variationItem.additionalCost > 0) {
							<p>
								{{ variation.count }} ×
								{{ formatPrice(variationItem.additionalCost) }}
							</p>
						}
					</div>
				}
			}
		}
	}

	@if (calculateDiscountOfOrderItem(orderItem) > 0) {
		<div class="offer-order-item-variations-separator"></div>

		<div class="offer-order-item-card-discount-name">
			<p>- {{ locale.discount }}</p>
		</div>

		<div class="offer-order-item-card-variation-unit-price">
			<p>
				{{ "-" + formatPrice(calculateDiscountOfOrderItem(orderItem)) }}
			</p>
		</div>
	}
</li>
