<li
	class="offer-order-item-card slide-up-in-light"
	[class.selected]="selectedOrderItemUuid === orderItem.uuid"
	[class.clickable]="clickable"
	[class.collapsible]="isCollapsible()"
>
	<div class="offer-order-item-card-id">
		<p>#{{ orderItem.product.shortcut }}</p>
	</div>

	<div class="offer-order-item-card-name">
		@if (isCollapsible()) {
			<dav-icon-button size="xs">
				<fa-icon
					[icon]="isExpanded ? faChevronUp : faChevronDown"
					(click)="toggleExpanded($event)"
				></fa-icon>
			</dav-icon-button>
		}

		<p>
			{{ orderItem.product.name }}

			@if (orderItem.type === "SPECIAL" && orderItem.orderItems.length > 0) {
				<span class="sub-product-name">
					({{ orderItem.orderItems[0].product.name }})
				</span>
			}
		</p>

		@if (orderItem.notes) {
			<dav-icon-button size="xs">
				<fa-icon
					[icon]="faNoteSticky"
					(click)="onNoteIconClick($event)"
				></fa-icon>
			</dav-icon-button>
		}

		@if (orderItem.takeAway) {
			<dav-icon-button size="xs">
				<fa-icon [icon]="faCupTogo"></fa-icon>
			</dav-icon-button>
		}

		@if (orderItem.course) {
			<dav-button size="sm" text>
				<fa-icon [icon]="faUtensils" slot="icon-left"></fa-icon>
				{{ orderItem.course }}
			</dav-button>
		}
	</div>

	<div class="offer-order-item-card-unit-price">
		@if (orderItem.count > 1 && orderItem.type !== "SPECIAL") {
			<p>
				{{ orderItem.count }} ×
				{{ formatPrice(calculateUnitPriceOfOrderItem(orderItem)) }}
			</p>
		}
	</div>

	<div class="offer-order-item-card-total-price">
		<p>
			{{ formatPrice(calculateTotalPriceOfOrderItem(orderItem)) }}
		</p>
	</div>

	@if (isCollapsible() && isExpanded) {
		@if (orderItem.orderItems.length > 0) {
			<div class="offer-order-item-variations-separator"></div>

			@for (subOrderItem of orderItem.orderItems; track subOrderItem.uuid) {
				<div class="offer-order-item-card-product-name">
					<p>- {{ subOrderItem.product.name }}</p>
				</div>

				@if (subOrderItem.orderItemVariations.length === 0) {
					<div class="offer-order-item-card-variation-unit-price">
						<p>
							{{ subOrderItem.count }} ×
							{{
								formatPrice(calculateUnitPriceOfOrderItem(subOrderItem))
							}}
						</p>
					</div>
				}

				@for (
					orderItemVariation of subOrderItem.orderItemVariations;
					track orderItemVariation.uuid
				) {
					@for (
						variationItem of orderItemVariation.variationItems;
						track variationItem.uuid
					) {
						<div class="offer-order-item-card-variation-name">
							<p>- {{ variationItem.name }}</p>
						</div>

						<div class="offer-order-item-card-variation-unit-price">
							<p>
								{{ orderItemVariation.count }} ×
								{{
									formatPrice(
										subOrderItem.product.price +
											variationItem.additionalCost
									)
								}}
							</p>
						</div>
					}
				}
			}
		}

		@if (calculateDiscountOfOrderItem(orderItem) > 0) {
			<div class="offer-order-item-variations-separator"></div>

			<div class="offer-order-item-card-discount-name">
				<p>- {{ locale.discount }}</p>
			</div>

			<div class="offer-order-item-card-variation-unit-price">
				<p>
					{{ "-" + formatPrice(calculateDiscountOfOrderItem(orderItem)) }}
				</p>
			</div>
		}
	}
</li>
