<div class="container slide-up-in">
	<div class="content-container">
		<h1>{{ name }}</h1>

		<dav-card>
			<div class="address-card-container">
				<fa-icon [icon]="faLocationDot"></fa-icon>

				<div class="address-card-content">
					@if (city || country || line1 || line2 || postalCode) { @if
					(line1) {
					<p>{{ line1 }}</p>
					} @if (line2) {
					<p>{{ line2 }}</p>
					} @if (postalCode || city) {
					<p>{{ postalCode }} {{ city }}</p>
					} @if (country) {
					<p>{{ country === "DE" ? "Deutschland" : "" }}</p>
					} } @else {
					<p class="no-address">Adresse angeben</p>
					}
				</div>

				<dav-icon-button size="xs" (click)="showEditAddressDialog()">
					<fa-icon [icon]="faPen"></fa-icon>
				</dav-icon-button>
			</div>
		</dav-card>
	</div>
</div>

<app-edit-address-dialog
	#editAddressDialog
	[loading]="editAddressDialogLoading"
	[city]="city"
	[cityError]="cityError"
	[line1]="line1"
	[line1Error]="line1Error"
	[line2]="line2"
	[line2Error]="line2Error"
	[postalCode]="postalCode"
	[postalCodeError]="postalCodeError"
	(primaryButtonClick)="editAddressDialogPrimaryButtonClick($event)"
></app-edit-address-dialog>
