<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			editButtonVisible
			(editButtonClick)="showEditRestaurantNameDialog()"
		>
			{{ name }}
		</dav-header>

		<app-restaurant-address
			[city]="city"
			[country]="country"
			[line1]="line1"
			[line2]="line2"
			[postalCode]="postalCode"
			(editAddress)="showEditAddressDialog()"
		></app-restaurant-address>

		<app-printer-management></app-printer-management>
	</div>
</div>

<app-edit-restaurant-name-dialog
	#editRestaurantNameDialog
	[loading]="editRestaurantNameDialogLoading"
	[name]="name"
	[nameError]="nameError"
	(primaryButtonClick)="editRestaurantNameDialogPrimaryButtonClick($event)"
	(clearErrors)="nameError = ''"
></app-edit-restaurant-name-dialog>

<app-edit-address-dialog
	#editAddressDialog
	[loading]="editAddressDialogLoading"
	[city]="city"
	[cityError]="cityError"
	[line1]="line1"
	[line1Error]="line1Error"
	[line2]="line2"
	[line2Error]="line2Error"
	[postalCode]="postalCode"
	[postalCodeError]="postalCodeError"
	(primaryButtonClick)="editAddressDialogPrimaryButtonClick($event)"
	(clearErrors)="
		cityError = ''; line1Error = ''; line2Error = ''; postalCodeError = ''
	"
></app-edit-address-dialog>
