.cards-container {
	display: flex;
	gap: 16px;
}

.info-sections-container {
	display: flex;
	align-items: start;
	gap: 24px;
	position: relative;
	margin-top: 0;
}

.info-section {
	display: flex;
	gap: 10px;
	align-items: start;
	flex: 1;

	fa-icon {
		padding: 4px;
		margin-top: 4px;
	}
}

.info-content {
	margin-top: 4px;
	line-height: 20px;
	flex: 1;
}

.info-content > p {
	margin: 0;
	color: var(--dav-color-on-surface);
}

.address-line {
	white-space: nowrap;
}

.no-address {
	font-style: italic;
}

dav-icon-button {
	margin-left: auto;
}

dav-card {
	margin-bottom: 32px;
}

.actions-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 32px;

	dav-icon-card {
		width: 100%;
	}
}

.separator {
	width: 300px;
	border-top: 1px solid var(--dav-color-outline-variant);
}

.room-card-container {
	display: flex;
	align-items: start;
	margin: 0;
	gap: 10px;

	fa-icon {
		padding: 4px;
	}
}

.room-card-content {
	margin-top: 4px;
	line-height: 20px;
}

.room-card-content > p {
	margin: 0;
	color: var(--dav-color-on-surface);
}
