<div class="container slide-up-in">
	<div class="content-container">
		<dav-header
			backButtonVisible
			editButtonVisible
			(backButtonClick)="navigateBack()"
			(editButtonClick)="showEditRestaurantNameDialog()"
		>
			{{ restaurant.name }}
		</dav-header>

		<dav-card>
			<div class="info-sections-container">
				<div class="info-section">
					<fa-icon [icon]="faLocationDot"></fa-icon>
					<div class="info-content">
						@if (
							restaurant.address?.city ||
							restaurant.address?.country ||
							restaurant.address?.addressLine1 ||
							restaurant.address?.addressLine2 ||
							restaurant.address?.postalCode
						) {
							@if (restaurant.address?.addressLine1) {
								<p class="address-line">
									{{ restaurant.address.addressLine1 }}
									{{ restaurant.address.housenumber }}
								</p>
							}
							@if (restaurant.address?.addressLine2) {
								<p>{{ restaurant.address.addressLine2 }}</p>
							}
							@if (
								restaurant.address?.postalCode ||
								restaurant.address?.city
							) {
								<p>
									{{ restaurant.address.postalCode }}
									{{ restaurant.address.city }}
								</p>
							}
							@if (restaurant.address?.country) {
								<p>
									{{
										restaurant.address.country === "DE"
											? "Deutschland"
											: ""
									}}
								</p>
							}
						} @else {
							<p class="no-address">{{ locale.addAddress }}</p>
						}
					</div>
				</div>

				<div class="info-section">
					<fa-icon [icon]="faShop"></fa-icon>
					<div class="info-content">
						@if (owner || taxNumber) {
							@if (owner) {
								<p>{{ owner }}</p>
							}
							@if (taxNumber) {
								<p>{{ taxNumber }}</p>
							}
						}
					</div>
				</div>

				<div class="info-section">
					<fa-icon [icon]="faAddressCard"></fa-icon>
					<div class="info-content">
						@if (mail || phoneNumber) {
							@if (mail) {
								<p>{{ mail }}</p>
							}
							@if (phoneNumber) {
								<p>{{ phoneNumber }}</p>
							}
						}
					</div>
					<dav-icon-button
						size="xs"
						[tooltip]="actionsLocale.edit"
						(click)="showEditRestaurantInfoDialog()"
					>
						<fa-icon [icon]="faPen"></fa-icon>
					</dav-icon-button>
				</div>
			</div>
		</dav-card>

		<div class="separator"></div>

		<div class="actions-container">
			<dav-icon-card
				[text]="locale.manageRegisters"
				[href]="'/user/restaurants/' + uuid + '/registers'"
				(click)="navigateToRegistersPage($event)"
			>
				<fa-icon [icon]="faCashRegister"></fa-icon>
			</dav-icon-card>

			<dav-icon-card
				[text]="locale.managePrinters"
				[href]="'/user/restaurants/' + uuid + '/printers'"
				(click)="navigateToPrintersPage($event)"
			>
				<fa-icon [icon]="faPrint"></fa-icon>
			</dav-icon-card>

			<dav-icon-card
				[text]="locale.manageRooms"
				[href]="'/user/restaurants/' + uuid + '/rooms'"
				(click)="navigateToRoomsPage($event)"
			>
				<fa-icon [icon]="faSeat"></fa-icon>
			</dav-icon-card>

			<dav-icon-card
				[text]="locale.manageTime"
				[href]="'/user/restaurants/' + uuid + '/openingTime'"
				(click)="navigateToTimePage($event)"
			>
				<fa-icon [icon]="faClock"></fa-icon>
			</dav-icon-card>

			<!--Image for Restaurant-->
			<!-- <dav-icon-card
		[text]="locale.addPicture"
		(click)="triggerFileInput(fileInput)"
	>
		<input
			#fileInput
			type="file"
			accept="image/*"
			(change)="onFileSelected($event)"
			hidden
		/>
	</dav-icon-card>

	<div class="image-preview" *ngIf="imageDataUrl">
		<img [src]="imageDataUrl" />
	</div> -->

			<dav-icon-card
				[text]="locale.manageMenu"
				[href]="'/user/restaurants/' + uuid + '/menu'"
				(click)="navigateToMenuPage($event)"
			>
				<fa-icon [icon]="faMap"></fa-icon>
			</dav-icon-card>
		</div>
	</div>
</div>

<app-edit-restaurant-name-dialog
	#editRestaurantNameDialog
	[loading]="editRestaurantNameDialogLoading"
	[name]="restaurant.name"
	[nameError]="nameError"
	(primaryButtonClick)="editRestaurantNameDialogPrimaryButtonClick($event)"
	(clearErrors)="nameError = ''"
></app-edit-restaurant-name-dialog>

<app-edit-restaurant-info-dialog
	#editRestaurantInfoDialog
	[loading]="editRestaurantInfoDialogLoading"
	[city]="restaurant.address?.city"
	[cityError]="cityError"
	[line1]="restaurant.address?.addressLine1"
	[line1Error]="line1Error"
	[housenumber]="restaurant.address?.housenumber"
	[housenumberError]="housenumberError"
	[line2]="restaurant.address?.addressLine2"
	[line2Error]="line2Error"
	[postalCode]="restaurant.address?.postalCode"
	[postalCodeError]="postalCodeError"
	[owner]="owner"
	[ownerError]="ownerError"
	[taxNumber]="taxNumber"
	[taxNumberError]="taxNumberError"
	[mail]="mail"
	[mailError]="mailError"
	[phoneNumber]="phoneNumber"
	[phoneNumberError]="phoneNumberError"
	(primaryButtonClick)="editRestaurantInfoDialogPrimaryButtonClick($event)"
	(clearErrors)="
		cityError = '';
		line1Error = '';
		housenumberError = '';
		line2Error = '';
		postalCodeError = '';
		ownerError = '';
		taxNumberError = '';
		mailError = '';
		phoneNumberError = ''
	"
></app-edit-restaurant-info-dialog>
