<div class="navbar acrylic">
	<!-- Logo + name -->
	<a class="navbar-header" routerLink="/">
		<img src="/assets/icons/icon-72.png" width="68" height="68" />

		<div class="navbar-header-text-container">
			<span class="navbar-header-text-1">black</span>
			<span class="navbar-header-text-2">Kassensysteme</span>
		</div>
	</a>

	<div class="navbar-content">
		<div class="navbar-tab-bar-container">
			<dav-tab-bar>
				<dav-tab-bar-item>Übersicht</dav-tab-bar-item>

				<dav-tab-bar-item>Preise</dav-tab-bar-item>
			</dav-tab-bar>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
