<div class="navbar acrylic">
	<!-- Logo + name -->
	<a class="navbar-header" routerLink="/">
		<img src="/assets/icons/icon-72.png" width="68" height="68" />

		<div class="navbar-header-text-container">
			<span class="navbar-header-text-1">black</span>
			<span class="navbar-header-text-2">Kassensysteme</span>
		</div>
	</a>

	<div class="navbar-content">
		<div class="navbar-tab-bar-container">
			<dav-tab-bar>
				<dav-tab-bar-item>Übersicht</dav-tab-bar-item>

				<dav-tab-bar-item>Preise</dav-tab-bar-item>
			</dav-tab-bar>
		</div>
	</div>
</div>

<div class="container">
	<!--
	<button mat-flat-button color="primary" (click)="navigateToLoginPage()">
		Log in with dav
	</button>
	-->

	<div class="section-1-container">
		<h1>Das moderne Kassensystem<br />für moderne Restaurants</h1>
	</div>
</div>
