.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 400px;
	box-sizing: border-box;
	padding: 0;

	p {
		margin: 0;
	}
}

.selected-printers-container,
.selected-categories-container,
.selected-products-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 12px;
}
