.order-item-card {
	display: grid;
	grid-template-columns: 40px 2fr 2fr 1fr;
	width: 100%;
	background-color: var(--dav-color-surface);
	color: var(--dav-color-on-surface);
	border: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
	border-radius: 12px;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	padding: 16px;
	box-sizing: border-box;
	transition: 200ms;

	p {
		margin: 0;
	}
}

.order-item-card.clickable {
	cursor: pointer;
}

.order-item-card.clickable:hover {
	background-color: var(--dav-color-surface-hover);
}

.order-item-card.clickable:focus,
.order-item-card.clickable:active,
.order-item-card.clickable.selected {
	background-color: var(--dav-color-surface-focus);
}

.order-item-card-id {
	display: flex;
	align-items: center;
}

.order-item-card-unit-price > p {
	text-align: center;
}

.order-item-card-total-price {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	white-space: nowrap;
}

.order-item-card-name {
	display: flex;
	align-items: center;
	gap: 8px;
}

.order-item-card-variation-name {
	grid-column: 2;
}

.order-item-card-variation-unit-price {
	grid-column: 3;
	text-align: center;
}

.order-item-variations-separator {
	grid-column: span 4;
	border-top: 1px solid var(--dav-color-outline-variant);
	margin: 8px 0;
}

.order-item-card-sub-item-name {
	grid-column: 2;
	padding-left: 8px;
}

.order-item-card-sub-item-count {
	grid-column: 3;
	text-align: center;
}

.order-item-card-sub-item-price {
	grid-column: 4;
	text-align: right;
}

.order-item-card-offer-info {
	grid-column: 2 / span 3;
	padding-left: 8px;
	color: var(--dav-color-primary);
	margin-top: 4px;
}
