<li
	class="order-item-card slide-up-in-light"
	[class.selected]="
		selectedOrderItemUuid === orderItem.uuid &&
		selectedOrderItemNote === orderItem.notes
	"
	[class.clickable]="clickable"
	[class.collapsible]="isCollapsible()"
>
	<div class="order-item-card-id">
		<p>#{{ getProductNumber(orderItem) }}</p>
	</div>

	<div class="order-item-card-name">
		@if (isCollapsible()) {
			<dav-icon-button size="xs">
				<fa-icon
					[icon]="isExpanded ? faChevronUp : faChevronDown"
					(click)="toggleExpanded($event)"
				></fa-icon>
			</dav-icon-button>
		}

		<p>{{ orderItem.product.name }}</p>

		@if (orderItem.notes) {
			<dav-icon-button size="xs">
				<fa-icon
					[icon]="faNoteSticky"
					(click)="onNoteIconClick($event)"
				></fa-icon>
			</dav-icon-button>
		}

		@if (orderItem.takeAway) {
			<dav-icon-button size="xs">
				<fa-icon [icon]="faCupTogo"></fa-icon>
			</dav-icon-button>
		}

		@if (orderItem.course) {
			<dav-button size="sm" text>
				<fa-icon [icon]="faUtensils" slot="icon-left"></fa-icon>
				{{ orderItem.course }}
			</dav-button>
		}
	</div>

	<div class="order-item-card-unit-price">
		@if (orderItem.orderItemVariations.length === 0 && orderItem.count > 1) {
			<p>
				{{ orderItem.count }} ×
				{{ formatPrice(orderItem.diversePrice ?? orderItem.product.price) }}
			</p>
		}
	</div>

	<div class="order-item-card-total-price">
		<p>{{ formatPrice(calculateTotalPriceOfOrderItem(orderItem)) }}</p>
	</div>

	@if (isCollapsible() && isExpanded) {
		@if (orderItem.orderItemVariations.length > 0) {
			<div class="order-item-variations-separator"></div>

			@for (
				orderItemVariation of orderItem.orderItemVariations;
				track orderItemVariation.uuid
			) {
				<div class="order-item-card-variation-name">
					<p>- {{ getCombinedVariationNames(orderItemVariation) }}</p>
				</div>

				<div class="order-item-card-variation-unit-price">
					<p>
						{{ orderItemVariation.count }} ×
						{{
							formatPrice(
								getTotalVariationPrice(orderItemVariation) +
									(orderItem.diversePrice ?? orderItem.product.price)
							)
						}}
					</p>
				</div>
			}
		}

		@if (
			orderItem.type === OrderItemType.Special ||
			orderItem.type === OrderItemType.Menu
		) {
			<div class="order-item-variations-separator"></div>

			@if (orderItem.orderItems && orderItem.orderItems.length > 0) {
				@for (subItem of orderItem.orderItems; track subItem.uuid) {
					<div class="order-item-card-sub-item-name">
						<p>- {{ subItem.product.name }}</p>
					</div>

					<div class="order-item-card-sub-item-count">
						<p>{{ subItem.count }}×</p>
					</div>

					<div class="order-item-card-sub-item-price">
						<p>
							{{
								formatPrice(
									subItem.diversePrice ?? subItem.product.price
								)
							}}
						</p>
					</div>
				}
			}
		}
	}
</li>
