<li
	class="order-item-card slide-up-in-light"
	[class.selected]="
		selectedOrderItemUuid === orderItem.uuid &&
		selectedOrderItemNote === orderItem.notes
	"
	[class.clickable]="clickable"
>
	<div class="order-item-card-id">
		<p>#{{ orderItem.product.id }}</p>
	</div>

	<div class="order-item-card-name">
		<p>{{ orderItem.product.name }}</p>
		@if (orderItem.notes) {
			<fa-icon
				[icon]="faNoteSticky"
				class="note-icon"
				(click)="onNoteIconClick($event)"
			></fa-icon>
		}
		@if (orderItem.takeAway) {
			<fa-icon [icon]="faCupTogo" class="takeaway-icon"></fa-icon>
		}
		@if (orderItem.course) {
			<span class="course-badge">
				<fa-icon [icon]="faUtensils" class="course-icon"></fa-icon>
				{{ orderItem.course }}
			</span>
		}
	</div>

	<div class="order-item-card-unit-price">
		@if (orderItem.orderItemVariations.length === 0 && orderItem.count > 1) {
			<p>
				{{ orderItem.count }} ×
				{{ formatPrice(orderItem.product.price) }}
			</p>
		}
	</div>

	<div class="order-item-card-total-price">
		<p>{{ formatPrice(calculateTotalPriceOfOrderItem(orderItem)) }}</p>
	</div>

	@if (orderItem.orderItemVariations.length > 0) {
		<div class="order-item-variations-separator"></div>

		@for (orderItemVariation of orderItem.orderItemVariations; track orderItemVariation.uuid) {
			@for (
				variationItem of orderItemVariation.variationItems;
				track variationItem.uuid
			) {
				<div class="order-item-card-variation-name">
					<p>- {{ variationItem.name }}</p>
				</div>

				<div class="order-item-card-variation-unit-price">
					<p>
						{{ orderItemVariation.count }} ×
						{{
							formatPrice(
								orderItem.product.price + variationItem.additionalCost
							)
						}}
					</p>
				</div>
			}
		}
	}
</li>
