<div class="container slide-up-in">
	<dav-card class="filters-card">
		<div class="guests-header">
			<div class="filter-item name-filter">
				<dav-textfield
					[value]="nameFilter"
					[label]="locale.restaurantName"
					(change)="nameTextfieldChange($any($event).detail.value)"
				></dav-textfield>
			</div>

			<div class="filter-item city-filter">
				<dav-textfield
					[value]="cityPostalFilter"
					[label]="locale.cityPostalCode"
					(change)="cityTextfieldChange($any($event).detail.value)"
				></dav-textfield>
			</div>

			<div class="filter-item distance-filter">
				<label class="distance-label"
					>{{ locale.distance }}: {{ distanceKm }} km</label
				>
				<input
					type="range"
					min="1"
					max="100"
					[value]="distanceKm"
					(input)="distanceRangeChange($any($event).target.value)"
				/>
			</div>

			<div class="filter-item rating-filter">
				<label>{{ locale.rating }}</label>
				<div class="stars">
					@for (i of [1, 2, 3, 4, 5]; track i) {
						<fa-icon
							[icon]="faStar"
							class="star"
							[class.filled]="i <= ratingFilter"
							(click)="setRating(i)"
						></fa-icon>
					}
				</div>
			</div>

			<div class="filter-item checkboxes">
				<dav-checkbox
					[checked]="hasTakeaway"
					[label]="locale.takeaway"
					(change)="takeawayCheckboxChange($any($event).detail.checked)"
				></dav-checkbox>

				<dav-checkbox
					[checked]="hasDelivery"
					[label]="locale.delivery"
					(change)="deliveryCheckboxChange($any($event).detail.checked)"
				></dav-checkbox>
			</div>
		</div>
	</dav-card>
</div>

<div class="cards-grid">
	@for (r of filteredRestaurants; track r.uuid) {
		<dav-card
			class="restaurant-card"
			[href]="'/guests/restaurantinfo/' + r.uuid"
			(click)="openRestaurant($event, r.uuid)"
		>
			<div class="card-body">
				<div class="card-info">
					<h3 class="restaurant-name">{{ r.name }}</h3>
					<div class="address">
						{{ r.address.line1 }} {{ r.address.postalCode }}
						{{ r.address.city }}
					</div>
					<div class="rating">
						@for (i of [1, 2, 3, 4, 5]; track i) {
							<fa-icon
								[icon]="faStar"
								class="star"
								[class.filled]="i <= getAverageRating(r)"
							></fa-icon>
						}
					</div>
				</div>

				<div class="image-wrapper">
					@if (r.images && r.images.length > 0) {
						<img
							class="restaurant-image"
							[src]="r.images[0]"
							alt="{{ r.name }}"
						/>
					} @else {
						<div class="image-placeholder">&nbsp;</div>
					}
				</div>
			</div>

			<div class="card-actions">
				<div class="icons">
					@if (r.hasTakeaway) {
						<fa-icon [icon]="faCupTogo" title="Zum Mitnehmen"></fa-icon>
					}
					@if (r.hasDelivery) {
						<fa-icon [icon]="faTruck" title="Lieferung"></fa-icon>
					}
				</div>
			</div>
		</dav-card>
	}
</div>
