.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-bottom: 14px;
	font-family: "Geist Mono", sans-serif;
	font-size: 32px;
	text-align: center;
	color: var(--dav-color-on-surface);
}

p {
	text-align: center;
	color: var(--dav-color-on-surface);
   max-width: 500px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 14px;
	width: 280px;
	margin-top: 22px;
}

dav-textfield {
	width: 100%;
}

.save-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.save-button-container.loading {
	margin-left: 32px;
}

.skip-button-container {
	display: flex;
	justify-content: center;
}
