
<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submitTableCombination()"
	(defaultButtonClick)="hide()"
>
	<form>
		<!-- Line 1 -->
		<mat-form-field appearance="fill" class="dialog-formfield-container">
			<mat-label>Table Numbers</mat-label>
			<mat-select [formControl]="tableCombinations" multiple>
				<mat-option *ngFor="let t of table" [value]="t.number">
				Table {{ t.number }} ({{ t.chairs }} chairs)
				</mat-option>
			</mat-select>
		</mat-form-field>

	</form>
</dav-dialog>


<div class="container slide-up-in">
	<div class="content-container">
		<dav-header addButtonVisible (addButtonClick)="show()">
			{{ tablesLocale.headline }}
		</dav-header>
		
		@for (oneTableCombination of tableCombination; track oneTableCombination.id) {
			<dav-card>
				<div class="printer-card-container">
					<div class="printer-card-content">
						<p>
							<strong>Nummern: {{ oneTableCombination.number }}</strong>
						</p>
						<p>Sitzplätze: {{ oneTableCombination.chairs }}</p>
						<div class="printer-actions-row">
							<!--<fa-icon [icon]="faFolder" class="printer-icon"></fa-icon>-->
							<dav-button
								outline
								class="test-printer-btn"
								(click)="removeTableCombination(oneTableCombination)"
								size="sm"
							>
								{{ tablesLocale.delete }}
							</dav-button>
						</div>
					</div>
					<dav-icon-button size="xs" (click)="openEditForm(oneTableCombination)">
						<fa-icon [icon]="faPen"></fa-icon>
					</dav-icon-button>
				</div>
			</dav-card>
		}
	</div>
</div>