<div id="wrapper">
	<div class="header">
		<div id="headerContainer">
			<p>{{ bediener }}</p>
			<h2>BMKS</h2>
			<p>{{ date }}</p>
		</div>
	</div>
	<div id="mehrspaltig">
		<nav>
			<div id="order">
				<div class="tables">
					@for (item of bookedItems.getItems(); track item) {
					<mat-card
						(click)="selectItem(item)"
						style="cursor: pointer"
						[style.background-color]="
							selectedItem === item ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content class="card-content">
							<span class="total-price">
								@if(item.pickedVariation){
								{{
									(
										item.price * item.anzahl +
										bookedItems.getTotalVariationPrice(
											item.pickedVariation
										)
									).toFixed(2)
								}}€ }@else {
								{{ (item.price * item.anzahl).toFixed(2) }}€ }
							</span>
							<strong>
								{{ item.anzahl }} x
								{{ item.name }}
								{{ item.price.toFixed(2) }}€
							</strong>
						</mat-card-content>
						@if(item.pickedVariation){ @for(variation of
						item.pickedVariation.values(); track variation){
						<mat-card-content>
							{{ variation.anzahl }}x mit {{ variation.name }} +{{
								variation.preis.toFixed(2)
							}}€
						</mat-card-content>
						} }
						<mat-card-content> #{{ item.id }} </mat-card-content>
					</mat-card>
					}
					<mat-card>
						<mat-card-content>Tisch 12</mat-card-content>
					</mat-card>
					@for (item of stagedItems.getItems(); track item) {
					<mat-card
						(click)="selectItem(item)"
						style="cursor: pointer"
						[style.background-color]="
							selectedItem === item ? 'rgba(27, 167, 251, 255)' : 'white'
						"
					>
						<mat-card-content class="card-content">
							<span class="total-price">
								@if(item.pickedVariation){
								{{
									(
										item.price * item.anzahl +
										stagedItems.getTotalVariationPrice(
											item.pickedVariation
										)
									).toFixed(2)
								}}€ }@else {
								{{ (item.price * item.anzahl).toFixed(2) }}€ }
							</span>
							<strong>
								{{ item.anzahl }} x
								{{ item.name }}
								{{ item.price.toFixed(2) }}€
							</strong>
						</mat-card-content>

						@if(item.pickedVariation){ @for(variation of
						item.pickedVariation.values(); track variation){
						<mat-card-content>
							{{ variation.anzahl }}x mit {{ variation.name }} +{{
								variation.preis.toFixed(2)
							}}€
						</mat-card-content>
						} }
						<mat-card-content> #{{ item.id }} </mat-card-content>
					</mat-card>
					}
				</div>
			</div>
			<div id="numpad">
				<mat-card>
					<mat-card-content> {{ console }} </mat-card-content>
				</mat-card>
				<div>
					@for(number of numberpad; track number){
					<button
						mat-flat-button
						(click)="consoleInput(number.toString())"
					>
						{{ number }}
					</button>
					@if(number==3){
					<button
						mat-flat-button
						[disabled]="
							commaUsed || !consoleActive || checkforZero() || xUsed
						"
						(click)="setAnzahl()"
					>
						X
					</button>
					<br />
					} @if(number==6){
					<button mat-flat-button (click)="showTotal()">Clear</button>
					<br />
					} @if(number==9){
					<button
						mat-flat-button
						[disabled]="
							!consoleActive || commaUsed || checkArticleNumber()
						"
						(click)="bookById()"
					>
						Artikel
					</button>
					<br />
					} }
					<button
						mat-flat-button
						[disabled]="commaUsed || !consoleActive || xUsed"
						(click)="consoleInput(',')"
						(click)="commaUsed = true"
					>
						,
					</button>
					<button mat-flat-button (click)="consoleInput('0')">0</button>
					<button mat-flat-button>-</button>
					<button mat-flat-button>+</button>
					<br />
					<button (click)="deleteItem()" mat-flat-button>Delete</button>
				</div>
			</div>
		</nav>
		<article>
			<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
				<div class="popup-content">
					<h2>
						@if(lastClickedItem) {
						{{ returnTmpVariationCount() }} x
						{{ lastClickedItem.name }}
						}
					</h2>
					@if(isItemPopupVisible){ @for (variation of
					lastClickedItem.variations; track variation){
					<div class="popup-content-dish">
						<button
							[disabled]="
								!tmpVariations.has(variation.id) ||
								tmpVariations.get(variation.id).anzahl === 0
							"
							mat-mini-fab
							(click)="removeVariation(variation)"
						>
							<mat-icon>remove</mat-icon>
						</button>
						<b>
							@if(tmpVariations.has(variation.id)){
							{{ tmpVariations.get(variation.id).anzahl }}
							} @else(){ 0 } x mit {{ variation.name }}
							<br />
							+ {{ variation.preis }}€
						</b>
						<button
							mat-mini-fab
							[disabled]="checkLimitAnzahl()"
							(click)="addVariation(variation)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>

					} }
					<button mat-flat-button (click)="closeItemPopup()">
						Schließen
					</button>
					<button
						mat-flat-button
						[disabled]="checkPickedVariation()"
						(click)="sendVariation()"
					>
						Auswählen
					</button>
				</div>
			</div>
			<div id="items">
				@for (item of selectedInventory; track item){
				<button (click)="clickItem(item)" mat-flat-button>
					{{ item.name }}
				</button>
				}
			</div>
		</article>
		<aside>
			<div id="drinks">
				@for (drink of drinks; track drink){
				<button
					(click)="changeSelectedInventory(drink.items)"
					mat-flat-button
				>
					{{ drink.name }}
				</button>
				}
			</div>
			<div id="dishes">
				@for (dish of dishes; track dish){
				<button
					(click)="changeSelectedInventory(dish.items)"
					mat-flat-button
				>
					{{ dish.name }}
				</button>
				}
			</div>
		</aside>
	</div>
	<footer>
		<div id="footerButtonsContainer">
			<button mat-flat-button class="footerButton" (click)="sendOrder()">
				Bestellung abschicken
			</button>
			<a
				mat-flat-button
				class="footerButton"
				[routerLink]="[console]"
				[disabled]="
					commaUsed ||
					!consoleActive ||
					tableUuid == console ||
					checkforZero() ||
					xUsed
				"
			>
				Umbuchen
			</a>
			<button mat-flat-button class="footerButton" [routerLink]="['../']">
				Tischplan
			</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['../' + console]"
				[disabled]="
					commaUsed ||
					!consoleActive ||
					tableUuid == console ||
					checkforZero() ||
					xUsed
				"
			>
				Tisch
			</button>
			<button mat-flat-button class="footerButton">Rechnungen</button>
			<button mat-flat-button class="footerButton">Bar</button>
			<button mat-flat-button class="footerButton">Karte</button>
			<button
				mat-flat-button
				class="footerButton"
				[routerLink]="['separate']"
			>
				Getrennt
			</button>
		</div>
	</footer>
</div>
