<div class="orders-header-container">
	@if (showBackButton) {
		<dav-icon-button
			size="sm"
			[tooltip]="actionsLocale.back"
			(click)="backButtonClick.emit($event)"
		>
			<fa-icon [icon]="faArrowLeft"></fa-icon>
		</dav-icon-button>
	}

	<p>
		{{ headline }}
	</p>

	@if (showTakeawayButton) {
		<dav-icon-button
			size="sm"
			tooltip="Takeaway"
			(click)="takeawayButtonClick.emit($event)"
		>
			<fa-icon [icon]="faCupTogo"></fa-icon>
		</dav-icon-button>
	}

	<ng-content></ng-content>
</div>
