<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		@for (block of blocks; track block; let i = $index) {
			<div class="block-container">
				<div class="day-row">
					<!-- Line 1 -->
					<mat-form-field
						appearance="fill"
						class="dialog-formfield-container"
					>
						<mat-label>{{ locale.days }}</mat-label>
						<mat-select
							[(ngModel)]="block.selectedDays"
							name="days{{ i }}"
							multiple
							(selectionChange)="onTimeChange()"
						>
							@for (d of getAvailableDays(i); track d) {
								<mat-option [value]="d">
									{{ d }}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>

					<!-- Remove Button -->
					<dav-icon-button
						size="sm"
						(click)="removeBlock(i)"
						[disabled]="blocks.length === 1"
						[tooltip]="locale.blockActions.remove"
					>
						<fa-icon [icon]="faTrash"></fa-icon>
					</dav-icon-button>
				</div>

				<div class="radio-row">
					<dav-radio-group
						(change)="
							onOpeningTypeChange(block, $any($event).detail.checked);
							onTimeChange()
						"
					>
						<dav-radio-button
							[label]="locale.openingTypes.continuous"
							value="durchgehend"
							[checked]="block.durchgehend"
						></dav-radio-button>

						<dav-radio-button
							[label]="locale.openingTypes.withBreak"
							value="pause"
							[checked]="block.pause"
						></dav-radio-button>
					</dav-radio-group>
				</div>

				<!-- Durchgehend -->
				@if (block.durchgehend) {
					<div class="time-row">
						<dav-textfield
							[value]="block.startTime1"
							[label]="locale.timeLabels.opening"
							type="time"
							[errorMessage]="getBlockError(i)"
							(change)="
								block.startTime1 = $any($event).detail.value;
								onTimeChange()
							"
						></dav-textfield>

						<dav-textfield
							[value]="block.endTime1"
							[label]="locale.timeLabels.closing"
							type="time"
							(change)="
								block.endTime1 = $any($event).detail.value;
								onTimeChange()
							"
						></dav-textfield>
					</div>
				}

				<!-- Pause -->
				@if (block.pause) {
					<div class="time-row pause-layout">
						<dav-textfield
							[value]="block.startTime1"
							[label]="locale.timeLabels.opening"
							type="time"
							[errorMessage]="getBlockError(i)"
							(change)="
								block.startTime1 = $any($event).detail.value;
								onTimeChange()
							"
						></dav-textfield>

						<dav-textfield
							[value]="block.endTime1"
							[label]="locale.timeLabels.breakStart"
							type="time"
							(change)="
								block.endTime1 = $any($event).detail.value;
								onTimeChange()
							"
						></dav-textfield>

						<dav-textfield
							[value]="block.startTime2"
							[label]="locale.timeLabels.breakEnd"
							type="time"
							(change)="
								block.startTime2 = $any($event).detail.value;
								onTimeChange()
							"
						></dav-textfield>

						<dav-textfield
							[value]="block.endTime2"
							[label]="locale.timeLabels.closing"
							type="time"
							(change)="
								block.endTime2 = $any($event).detail.value;
								onTimeChange()
							"
						></dav-textfield>
					</div>
				}
			</div>
		}
		<div class="separator"></div>

		<!-- Plus-Button -->
		<div class="add-row">
			<dav-icon-button
				size="sm"
				(click)="addBlock()"
				[tooltip]="locale.blockActions.add"
			>
				<fa-icon [icon]="faPlus"></fa-icon>
			</dav-icon-button>
		</div>
	</form>
</dav-dialog>
