<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		@for (block of blocks; track block; let i = $index) {
			<div class="block-container">
				<div class="day-row">
					<!-- Line 1 -->
					<mat-form-field
						appearance="fill"
						class="dialog-formfield-container"
					>
						<mat-label>Tage</mat-label>
						<mat-select
							[(ngModel)]="block.selectedDays"
							name="days{{ i }}"
							multiple
						>
							@for (d of getAvailableDays(i); track d) {
								<mat-option [value]="d">
									{{ d }}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>

					<!-- Minus Button -->

					<button
						mat-icon-button
						color="warn"
						(click)="removeBlock(i)"
						[disabled]="blocks.length === 1"
					>
						<mat-icon>-</mat-icon>
					</button>
				</div>

				<div class="radio-row">
					<dav-radio-group
						(change)="
							onOpeningTypeChange(block, $any($event).detail.checked)
						"
					>
						<dav-radio-button
							[label]="'Durchgehend geöffnet'"
							value="durchgehend"
							[checked]="block.durchgehend"
						></dav-radio-button>

						<dav-radio-button
							[label]="'Mit Pause geöffnet'"
							value="pause"
							[checked]="block.pause"
						></dav-radio-button>
					</dav-radio-group>
				</div>

				<!-- Durchgehend -->
				@if (block.durchgehend) {
					<div class="time-row">
						<dav-textfield
							[value]="block.startTime1"
							label="Startzeit"
							type="time"
							(change)="block.startTime1 = $any($event).detail.value"
						></dav-textfield>

						<dav-textfield
							[value]="block.endTime1"
							label="Endzeit"
							type="time"
							(change)="block.endTime1 = $any($event).detail.value"
						></dav-textfield>
					</div>
				}

				<!-- Pause -->
				@if (block.pause) {
					<div class="time-row pause-layout">
						<dav-textfield
							[value]="block.startTime1"
							label="Startzeit 1"
							type="time"
							(change)="block.startTime1 = $any($event).detail.value"
						></dav-textfield>

						<dav-textfield
							[value]="block.endTime1"
							label="Endzeit 1"
							type="time"
							(change)="block.endTime1 = $any($event).detail.value"
						></dav-textfield>

						<dav-textfield
							[value]="block.startTime2"
							label="Startzeit 2"
							type="time"
							(change)="block.startTime2 = $any($event).detail.value"
						></dav-textfield>

						<dav-textfield
							[value]="block.endTime2"
							label="Endzeit 2"
							type="time"
							(change)="block.endTime2 = $any($event).detail.value"
						></dav-textfield>
					</div>
				}
			</div>
		}
		<div class="separator"></div>

		<!-- Plus-Button -->
		<div class="add-row">
			<button mat-icon-button color="primary" (click)="addBlock()">
				<mat-icon>+</mat-icon>
			</button>
		</div>
	</form>
</dav-dialog>
