<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>

	<!-- reason -->
	<div class="dialog-formfield-container">
		<dav-textfield
			[value]="reason"
			[label]=locale.reason
			[disabled]="loading"
			[errorMessage]="reasonError"
			(change)="reasonTextfieldChange($event)"
		></dav-textfield>
	</div>

	<div class="date-row">
		<!-- from -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="fromDate"
				[label]="locale.from"
				type="date"
				[disabled]="loading"
				[errorMessage]="reasonError"
				(change)="fromDatefieldChange($event)"
			></dav-textfield>
		</div>

		<!-- to -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="toDate"
				[label]="locale.to"
				type="date"
				[disabled]="loading"
				[errorMessage]="reasonError"
				(change)="toDatefieldChange($event)"
			></dav-textfield>
		</div>

	</div>

	<div fxLayout="row" class="checkbox-row">
		<mat-checkbox [(ngModel)]="durchgehend" name="durchgehend" (change)="onDurchgehendChange()">
		Durchgehend geöffnet
		</mat-checkbox>

		<mat-checkbox [(ngModel)]="pause" name="pause" (change)="onPauseChange()">
		Mit Pause geöffnet
		</mat-checkbox>

		<mat-checkbox [(ngModel)]="geschlossen" name="geschlossen" (change)="onGeschlossenChange()">
		Geschlossen
		</mat-checkbox>
	</div>

	
	<!-- Durchgehend -->
	<div *ngIf="durchgehend && !pause" class="time-row">
		<mat-form-field appearance="fill">
		<mat-label>Startzeit</mat-label>
		<input matInput [(ngModel)]="startTime1" name="startTime1" type="time">
		</mat-form-field>

		<mat-form-field appearance="fill">
		<mat-label>Endzeit</mat-label>
		<input matInput [(ngModel)]="endTime1" name="endTime1" type="time">
		</mat-form-field>
	</div>

	<!-- Pause -->
	<div *ngIf="pause" class="time-row pause-layout">
		<mat-form-field appearance="fill">
		<mat-label>Startzeit 1</mat-label>
		<input matInput [(ngModel)]="startTime1" name="startTime1p" type="time">
		</mat-form-field>

		<mat-form-field appearance="fill">
		<mat-label>Endzeit 1</mat-label>
		<input matInput [(ngModel)]="endTime1" name="endTime1p" type="time">
		</mat-form-field>

		<mat-form-field appearance="fill">
		<mat-label>Startzeit 2</mat-label>
		<input matInput [(ngModel)]="startTime2" name="startTime2" type="time">
		</mat-form-field>

		<mat-form-field appearance="fill">
		<mat-label>Endzeit 2</mat-label>
		<input matInput [(ngModel)]="endTime2" name="endTime2" type="time">
		</mat-form-field>
	</div>

	</form>
	
</dav-dialog>