<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		<!-- reason -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="reason"
				[label]="locale.reason"
				[disabled]="loading"
				[errorMessage]="reasonError"
				(change)="reasonTextfieldChange($event)"
			></dav-textfield>
		</div>

		<div class="date-row">
			<!-- from -->
			<div class="dialog-formfield-container">
				<dav-textfield
					[value]="fromDate"
					[label]="locale.from"
					type="date"
					[disabled]="loading"
					[errorMessage]="dateError"
					(change)="fromDatefieldChange($event)"
				></dav-textfield>
			</div>

			<!-- to -->
			<div class="dialog-formfield-container">
				<dav-textfield
					[value]="toDate"
					[label]="locale.to"
					type="date"
					[disabled]="loading"
					(change)="toDatefieldChange($event)"
				></dav-textfield>
			</div>
		</div>

		<div class="radio-row">
			<dav-radio-group
				(change)="onOpeningTypeChange($any($event).detail.checked)"
			>
				<dav-radio-button
					[label]="locale.openingTypes.continuous"
					value="durchgehend"
					[checked]="durchgehend"
				></dav-radio-button>

				<dav-radio-button
					[label]="locale.openingTypes.withBreak"
					value="pause"
					[checked]="pause"
				></dav-radio-button>

				<dav-radio-button
					[label]="locale.openingTypes.closed"
					value="geschlossen"
					[checked]="geschlossen"
				></dav-radio-button>
			</dav-radio-group>
		</div>
		<!-- Durchgehend -->
		@if (durchgehend) {
			<div class="time-row">
				<dav-textfield
					[value]="startTime1"
					[label]="locale.timeLabels.opening"
					type="time"
					[errorMessage]="timeError"
					(change)="startTime1 = $any($event).detail.value; onTimeChange()"
				></dav-textfield>

				<dav-textfield
					[value]="endTime1"
					[label]="locale.timeLabels.closing"
					type="time"
					(change)="endTime1 = $any($event).detail.value; onTimeChange()"
				></dav-textfield>
			</div>
		}
		<!-- Pause -->
		@if (pause) {
			<div class="time-row pause-layout">
				<dav-textfield
					[value]="startTime1"
					[label]="locale.timeLabels.opening"
					type="time"
					[errorMessage]="timeError"
					(change)="startTime1 = $any($event).detail.value; onTimeChange()"
				></dav-textfield>

				<dav-textfield
					[value]="endTime1"
					[label]="locale.timeLabels.breakStart"
					type="time"
					(change)="endTime1 = $any($event).detail.value; onTimeChange()"
				></dav-textfield>

				<dav-textfield
					[value]="startTime2"
					[label]="locale.timeLabels.breakEnd"
					type="time"
					(change)="startTime2 = $any($event).detail.value; onTimeChange()"
				></dav-textfield>

				<dav-textfield
					[value]="endTime2"
					[label]="locale.timeLabels.closing"
					type="time"
					(change)="endTime2 = $any($event).detail.value; onTimeChange()"
				></dav-textfield>
			</div>
		}
	</form>
</dav-dialog>
