<div class="container">
	<div class="header">
		<app-header [showButton]="false" />
	</div>

	<div class="orders-price-container">
		<div class="orders-container">
			@if (table != null) {
				<app-orders-header
					[headline]="'Tisch ' + table.name.toString()"
					[showBackButton]="true"
					(backButtonClick)="navigateToBookingPage($event)"
				></app-orders-header>
			}

			<ul class="order-items-container">
				@if (ordersLoading) {
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
					<dav-skeleton class="order-item-card-skeleton"></dav-skeleton>
				}

				@if (
					!ordersLoading &&
					bookedItems.getOrderItems().length === 0 &&
					bookedItems.getMenuOrderItems().length === 0
				) {
					<p class="no-products-message">Keine Produkte ausgewählt</p>
				}

				@for (
					orderItem of bookedItems.getOrderItems();
					track orderItem.uuid
				) {
					<app-order-item-card
						[orderItem]="orderItem"
						(click)="transferItem(orderItem, bookedItems, activeBill)"
						(contextmenu)="showContextMenu($event, orderItem, true)"
					></app-order-item-card>
				}
			</ul>
		</div>

		<div class="price-container">
			<p>{{ showTotal(bookedItems) }}</p>
		</div>
	</div>

	<div class="bills-price-container">
		<div class="bills-container">
			<app-orders-header headline="Rechnungen">
				<dav-icon-button
					size="sm"
					[disabled]="checkMaxBills()"
					(click)="addBill()"
				>
					<fa-icon [icon]="faPlus"></fa-icon>
				</dav-icon-button>

				<dav-icon-button
					size="sm"
					[disabled]="bills.length <= 1"
					(click)="deleteBill()"
				>
					<fa-icon [icon]="faMinus"></fa-icon>
				</dav-icon-button>
			</app-orders-header>

			<div class="bills-list-container">
				@for (bill of bills; let index = $index; track index) {
					<div>
						<button
							class="bill-select-button"
							[class.active]="bill === activeBill"
							(click)="setActiveBill(bill)"
						>
							{{ "Rechnung " + (index + 1) }}
						</button>

						<ul class="order-items-container">
							@if (
								!ordersLoading &&
								bill.getOrderItems().length === 0 &&
								bill.getMenuOrderItems().length === 0
							) {
								<p class="no-products-message">
									Keine Produkte ausgewählt
								</p>
							}

							@for (
								orderItem of bill.getOrderItems();
								track orderItem.uuid
							) {
								<app-order-item-card
									[orderItem]="orderItem"
									(click)="
										transferItem(orderItem, activeBill, bookedItems)
									"
									(contextmenu)="
										showContextMenu($event, orderItem, false)
									"
								></app-order-item-card>
							}
						</ul>

						<ul class="order-items-container">
							@for (
								menuOrderItem of bill.getMenuOrderItems();
								track menuOrderItem.uuid
							) {
								<app-offer-order-item-card
									[offerOrderItem]="menuOrderItem"
								></app-offer-order-item-card>
							}
						</ul>
					</div>
				}
			</div>
		</div>

		<div class="price-container">
			<p>{{ calculateTotalBills() }}</p>
		</div>
	</div>

	<div class="footer">
		<dav-button
			color="secondary"
			text
			[disabled]="activeBill.isEmpty()"
			(click)="createBill('CASH')"
		>
			<fa-icon [icon]="faMoneyBill1Wave" slot="icon-left"></fa-icon>
			Bar
		</dav-button>

		<dav-button
			color="secondary"
			text
			[disabled]="activeBill.isEmpty()"
			(click)="createBill('CARD')"
		>
			<fa-icon [icon]="faCreditCard" slot="icon-left"></fa-icon>
			Karte
		</dav-button>
	</div>
</div>

<div class="popup-overlay" [ngClass]="{ visible: isItemPopupVisible }">
	<div class="popup-content">
		@if (tmpVariations != null) {
			<h2>
				{{ tmpVariations.product.name }}
			</h2>
			@for (
				variation of tmpVariations.orderItemVariations;
				track variation
			) {
				<div class="popup-content-dish">
					<button
						mat-mini-fab
						[disabled]="checkIfMinus(variation)"
						(click)="removeVariation(variation)"
					>
						<mat-icon>remove</mat-icon>
					</button>
					<b>
						{{ variation.count }}x
						@for (
							variationItem of variation.variationItems;
							track variationItem
						) {
							{{ variationItem.name }}
						}
					</b>
					<button
						mat-mini-fab
						[disabled]="checkIfPlus(variation)"
						(click)="addVariation(variation)"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			}
		}
		<button mat-flat-button (click)="closeItemPopup()">Schließen</button>
		<button
			mat-flat-button
			[disabled]="checkifVariationPicked()"
			(click)="transferVariation()"
		>
			Auswählen
		</button>
	</div>
</div>

<app-move-multiple-products-dialog
	#moveMultipleProductsDialog
	[orderItem]="contextMenuOrderItem"
	(primaryButtonClick)="moveMultipleProductsDialogPrimaryButtonClick($event)"
></app-move-multiple-products-dialog>

<dav-context-menu
	#contextMenu
	[visible]="contextMenuVisible"
	[posX]="contextMenuPositionX"
	[posY]="contextMenuPositionY"
>
	<dav-context-menu-item
		value="Mehrere verschieben"
		(click)="showMoveMultipleProductsDialog()"
	>
		<fa-icon
			slot="icon"
			[icon]="contextMenuBillsList ? faChevronsRight : faChevronsLeft"
		></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>
