.cards-container {
	display: flex;
	gap: 16px;
}

.openingTime-card-container {
	display: flex;
	align-items: start;
	margin: 0;
	gap: 10px;

	fa-icon {
		padding: 4px;
	}
}

.openingTime-card-content {
	margin-top: 4px;
	line-height: 20px;
}

.openingTime-card-content > p {
	margin: 0;
	color: var(--dav-color-on-surface);
}

.no-openingTime {
	font-style: italic;
}

dav-card {
	margin-bottom: 32px;
}

.actions-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 32px;

	dav-icon-card {
		width: 100%;
	}
}

.separator {
	width: 300px;
	border-top: 1px solid var(--dav-color-outline-variant);
	margin: 20px auto; /* <-- zentriert horizontal */
}

.room-card-container {
	display: flex;
	align-items: start;
	margin: 0;
	gap: 10px;

	fa-icon {
		padding: 4px;
	}
}

.room-card-content {
	margin-top: 4px;
	line-height: 20px;
}

.room-card-content > p {
	margin: 0;
	color: var(--dav-color-on-surface);
}

.special-content-container .cards-container { 
	display: flex; 
	flex-direction: column; 
	gap: 5px; 
}

.special-cards-container { 
	display: flex; 
	flex-direction: column; /* untereinander */ 
	align-items: center; /* mittig */ 
	gap: 5px; 
}