@if (context == "createCompany") {
	<div class="container slide-up-in">
		<div class="content">
			<h1 class="headline">{{ locale.createCompanySection.headline }}</h1>
			<p class="description">
				{{ locale.createCompanySection.description }}
			</p>

			<div class="input-container">
				<dav-textfield
					placeholder="Café Salmonella"
					(change)="restaurantNameChange($event)"
				></dav-textfield>

				<dav-button
					[disabled]="restaurantName.length < 3"
					size="sm"
					outline
					(click)="continueButtonClick()"
				>
					{{ actionsLocale.next }}
				</dav-button>
			</div>
		</div>
	</div>
} @else if (context == "createOwner") {
	<div class="container slide-up-in">
		<div class="content">
			<h1 class="headline">{{ locale.createOwnerSection.headline }}</h1>
			<p
				class="description"
				[innerHTML]="locale.createOwnerSection.description"
			></p>

			<div class="input-container">
				<dav-textfield
					[value]="ownerName"
					[placeholder]="locale.createOwnerSection.nameTextfieldPlaceholder"
					(change)="ownerNameChange($event)"
				></dav-textfield>
			</div>

			<div class="input-container">
				<dav-textfield
					[value]="ownerPassword"
					[placeholder]="locale.createOwnerSection.passwordTextfieldPlaceholder"
					type="password"
					(change)="ownerPasswordChange($event)"
				></dav-textfield>
			</div>

			<div class="continue-button-container">
				<dav-button
					size="sm"
					[disabled]="ownerName.length < 2 || ownerPassword.length < 6"
					outline
					(click)="continueButtonClick()"
				>
					{{ actionsLocale.next }}
				</dav-button>
			</div>
		</div>
	</div>
} @else if (context == "createUsers") {
	<div class="container slide-up-in">
		<div class="content">
			<h1 class="headline">{{ locale.createUsersSection.headline }}</h1>
			<p class="description">
				{{ locale.createUsersSection.description }}
			</p>

			<div class="input-container">
				<dav-textfield
					[value]="employeeName"
					[placeholder]="locale.createUsersSection.employeeNameTextfieldPlaceholder"
					(change)="employeeNameChange($event)"
				></dav-textfield>

				<dav-button
					[disabled]="employeeName.length < 2"
					size="sm"
					outline
					(click)="addEmployeeButtonClick()"
				>
					{{ actionsLocale.add }}
				</dav-button>
			</div>

			@if (employees.length > 0) {
				<div class="employee-list-container">
					<dav-list>
						@for (employee of employees; track employee) {
							<dav-list-item [headline]="employee" size="sm">
							</dav-list-item>
						}
					</dav-list>
				</div>
			}

			<div class="continue-button-container">
				<dav-button
					size="sm"
					outline
					(click)="continueButtonClick()"
				>
					{{ actionsLocale.next }}
				</dav-button>
			</div>
		</div>
	</div>
}
