.container {
	display: flex;
	justify-content: center;
	height: 100vh;
	padding: 0 16px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-top: 10%;
}

.headline {
	margin: 0;
}

.description {
	font-size: 18px;
	text-align: center;
}

.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-top: 8px;
}

.employee-list-container {
	margin-top: 16px;
}

.continue-button-container {
	margin-top: 16px;
}
