<div class="container">
    <div class="form-container" *ngIf="!showRegistrationForm">
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Nutzername" type="text" [(ngModel)]="username">
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Passwort" type="password" [(ngModel)]="password">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="login()">Anmelden</button>
            <button mat-raised-button color="accent" (click)="showRegistrationForm = true">Registrieren</button>
        </div>
    </div>

    <div class="form-container" *ngIf="showRegistrationForm">
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Name" type="text" [(ngModel)]="name">
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="E-Mail" type="email" [(ngModel)]="email">
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Passwort" type="password" [(ngModel)]="password">
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Name des Restaurants" type="text" [(ngModel)]="restaurantName">
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Adresse" type="text" [(ngModel)]="address">
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field>
                <input matInput placeholder="Anzahl der Räume" type="number" [(ngModel)]="roomCount">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="register()">Registrieren</button>
            <button mat-raised-button color="warn" (click)="cancelRegistration()">Abbrechen</button>
        </div>
    </div>
</div>

