.navbar {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	background-color: transparent;
	padding-top: env(safe-area-inset-top);
}

.navbar-header {
	display: inline-flex;
	color: var(--dav-color-on-surface);
	background-color: transparent;
	font-size: 26px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.navbar-header-text-container {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	margin-left: 10px;
}

.navbar-header-text-1 {
	font-size: 28px;
	line-height: 34px;
}

.navbar-header-text-2 {
	font-size: 12.5px;
}

.navbar-tab-bar-container {
	display: none;
	align-items: center;
	margin-left: 4%;
}

.navbar-spacer {
	width: 100%;
}

.navbar-icon-buttons-container {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 16px;
}

.content-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	padding-top: calc(env(safe-area-inset-top) + 64px);
	padding-bottom: calc(80px + env(safe-area-inset-bottom));
}

.profile-image {
	border-radius: 50%;
}

.bottom-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding-bottom: env(safe-area-inset-bottom);
}

dav-navigation-bar {
	background-color: transparent;
}

@media screen and (min-width: 640px) {
	.navbar-tab-bar-container {
		display: flex;
	}

	.content-container {
		padding-bottom: 0;
	}

	.bottom-navbar {
		display: none;
	}
}
