.navbar {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	background-color: transparent;
	padding-top: env(safe-area-inset-top);
}

.navbar-header {
	display: inline-flex;
	color: white;
	background-color: transparent;
	font-size: 26px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Geist Mono', sans-serif;
}

.navbar-header-text-container {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	margin-left: 10px;
}

.navbar-header-text-1 {
	font-size: 28px;
	line-height: 34px;
}

.navbar-header-text-2 {
	font-size: 12.5px;
}

.navbar-tab-bar-container {
	display: flex;
	align-items: center;
	margin-left: 4%;
}

.navbar-spacer {
	width: 100%;
}

.navbar-icon-buttons-container {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 16px;
}

.profile-image {
	border-radius: 50%;
}
