<div class="navbar acrylic">
	<!-- Logo + name -->
	<a class="navbar-header" routerLink="/">
		<img
			[src]="
				dataService.darkTheme
					? '/assets/icons/icon-unplated-light-128.png'
					: '/assets/icons/icon-unplated-dark-128.png'
			"
			width="68"
			height="68"
		/>

		<div class="navbar-header-text-container">
			<span class="navbar-header-text-1">butler</span>
			<span class="navbar-header-text-2">Kassensysteme</span>
		</div>
	</a>

	<div class="navbar-tab-bar-container">
		<dav-tab-bar>
			<dav-tab-bar-item
				[active]="overviewTabActive"
				(click)="navigateToOverviewPage()"
			>
				Übersicht
			</dav-tab-bar-item>

			<dav-tab-bar-item
				[active]="pricingTabActive"
				(click)="navigateToPricingPage()"
			>
				Preise
			</dav-tab-bar-item>

			<dav-tab-bar-item
				[active]="guestsTabActive"
				(click)="navigateToGuestsPage()"
			>
				Gäste
			</dav-tab-bar-item>
		</dav-tab-bar>
	</div>

	<div class="navbar-spacer"></div>

	<div class="navbar-icon-buttons-container">
		<dav-icon-button
			[selected]="userButtonSelected"
			(click)="navigateToUserPage()"
		>
			@if (!userButtonSelected && !dataService.dav.isLoggedIn) {
				<fa-icon [icon]="faCircleUserRegular"></fa-icon>
			} @else if (dataService.dav.isLoggedIn) {
				<img
					[src]="dataService.dav.user.ProfileImage"
					class="profile-image"
					width="28"
					height="28"
				/>
			}
		</dav-icon-button>
	</div>
</div>

<div #contentContainer class="content-container">
	<router-outlet></router-outlet>
</div>

<div class="bottom-navbar acrylic">
	<dav-navigation-bar>
		<dav-navigation-bar-item
			[active]="overviewTabActive"
			(click)="navigateToOverviewPage()"
		>
			@if (overviewTabActive) {
				<fa-icon slot="icon" [icon]="faHouseSolid"></fa-icon>
			} @else {
				<fa-icon slot="icon" [icon]="faHouseRegular"></fa-icon>
			}

			<p slot="label">Übersicht</p>
		</dav-navigation-bar-item>

		<dav-navigation-bar-item
			[active]="pricingTabActive"
			(click)="navigateToPricingPage()"
		>
			@if (pricingTabActive) {
				<fa-icon slot="icon" [icon]="faCircleDollarSolid"></fa-icon>
			} @else {
				<fa-icon slot="icon" [icon]="faCircleDollarRegular"></fa-icon>
			}

			<p slot="label">Preise</p>
		</dav-navigation-bar-item>
	</dav-navigation-bar>
</div>
