.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 32px;
	height: 100%;
	width: 100%;
	background-color: var(--dav-color-surface);
	padding: 0;
}

.orders-price-container {
	grid-column: 1;
	display: grid;
	grid-template-rows: 1fr auto;
	overflow: hidden;
}

.orders-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	padding-bottom: 8px;
	overflow: scroll;
}

.order-items-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0;
	margin: 0;
}

.order-item-card-skeleton {
	width: 100%;
	height: 55px;
	border-radius: 12px;
}

.no-products-message {
	color: var(--dav-color-on-surface);
	margin: 0;
	font-size: 14px;
	font-style: italic;
	font-weight: 200;
}

.price-container {
	grid-row: 2;
	border-top: 1px solid var(--dav-color-outline-variant);
	background-color: var(--dav-color-surface);
	z-index: 1;

	p {
		margin: 16px 16px 0;
		text-align: right;
		color: var(--dav-color-on-surface);
	}
}

.bills-price-container {
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr auto;
	overflow: hidden;
}

.bills-container {
	overflow: scroll;
}

.bills-list-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.bill-select-button {
	background-color: var(--dav-color-surface);
	color: var(--dav-color-on-surface);
	border: none;
	margin-bottom: 12px;
	padding: 0;
	font-size: 18px;
	font-family: var(--dav-font);
	cursor: pointer;
	transition: 200ms;
}

.bill-select-button.active {
	text-decoration: underline;
}

@media screen and (max-width: 860px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.bills-price-container {
		grid-column: 1;
		grid-row: 2;
	}
}
