form {
	margin-top: 16px;
}

.line1-field {
	flex: 3;
}

.houseNumber-field {
	flex: 1;
}

.section-heading {
	margin-bottom: 16px;
	color: var(--dav-color-on-surface);
}

.address-section-heading {
	margin-top: 0;
}

.owner-section-heading,
.contact-section-heading {
	margin-top: 24px;
}
