.filter-container {
   margin-bottom: 24px;
}

.products-list {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.no-products-message {
   color: var(--dav-color-on-surface);
	font-style: italic;
   text-align: center;
	margin: 0;
}
