<div class="container">
	<div class="content-container">
		<dav-header
			backButtonVisible
			addButtonVisible
			editButtonVisible
			deleteButtonVisible
			(backButtonClick)="navigateBack()"
			(addButtonClick)="handleAddButtonClick($event)"
			(editButtonClick)="handleEditButtonClick()"
			(deleteButtonClick)="handleDeleteButtonClick()"
		>
			{{ category?.name }}
		</dav-header>

		<div class="filter-container">
			<dav-filter-group (change)="filterChange($event)">
				<dav-filter-button name="FOOD" label="Speisen">
					<fa-icon [icon]="faUtensils" />
				</dav-filter-button>

				<dav-filter-button name="DRINK" label="Getränke">
					<fa-icon [icon]="faGlass" />
				</dav-filter-button>

				<dav-filter-button name="MENU" label="Menüs">
					<fa-icon [icon]="faBurgerSoda" />
				</dav-filter-button>

				<dav-filter-button name="SPECIAL" label="Specials">
					<fa-icon [icon]="faBadgePercent" />
				</dav-filter-button>
			</dav-filter-group>
		</div>

		@if (loading) {
			<dav-progress-ring size="24"></dav-progress-ring>
		} @else if (category?.products?.length === 0) {
			<div class="no-products-message">
				<p>{{ locale.noProductsMessage }}</p>
			</div>
		} @else {
			<div class="products-list">
				@for (product of category.products; track product.uuid) {
					@if (product.type === "MENU" || product.type === "SPECIAL") {
						<app-offer-card
							[offer]="product"
							(optionsButtonClick)="
								productCardOptionsButtonClick($event, product)
							"
						></app-offer-card>
					} @else {
						<app-product-card
							[product]="product"
							(optionsButtonClick)="
								productCardOptionsButtonClick($event, product)
							"
						></app-product-card>
					}
				}
			</div>
		}
	</div>
</div>

<dav-context-menu
	#addButtonContextMenu
	[visible]="addButtonContextMenuVisible"
	[posX]="addButtonContextMenuPositionX"
	[posY]="addButtonContextMenuPositionY"
>
	<dav-context-menu-item
		[value]="locale.addFood"
		(click)="addFoodContextMenuItemClick()"
	>
		<fa-icon slot="icon" [icon]="faUtensils" />
	</dav-context-menu-item>

	<dav-context-menu-item
		[value]="locale.addDrink"
		(click)="addDrinkContextMenuItemClick()"
	>
		<fa-icon slot="icon" [icon]="faGlass" />
	</dav-context-menu-item>

	<dav-context-menu-item
		[value]="locale.addMenu"
		(click)="addMenuContextMenuItemClick()"
	>
		<fa-icon slot="icon" [icon]="faBurgerSoda" />
	</dav-context-menu-item>

	<dav-context-menu-item
		[value]="locale.addSpecial"
		(click)="addSpecialContextMenuItemClick()"
	>
		<fa-icon slot="icon" [icon]="faBadgePercent" />
	</dav-context-menu-item>
</dav-context-menu>

<dav-context-menu
	#productContextMenu
	[visible]="productContextMenuVisible"
	[posX]="productContextMenuPositionX"
	[posY]="productContextMenuPositionY"
>
	<dav-context-menu-item
		[value]="actionsLocale.edit"
		(click)="editProductContextMenuItemClick()"
	>
		<fa-icon slot="icon" [icon]="faPen"></fa-icon>
	</dav-context-menu-item>

	<dav-context-menu-item
		[value]="actionsLocale.delete"
		(click)="deleteProductContextMenuItemClick()"
	>
		<fa-icon slot="icon" [icon]="faTrash"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<app-edit-category-dialog
	#editCategoryDialog
	[category]="category"
	[loading]="editCategoryDialogLoading"
	[nameError]="editCategoryDialogNameError"
	(primaryButtonClick)="editCategoryDialogPrimaryButtonClick($event)"
	(clearErrors)="editCategoryDialogNameError = ''"
></app-edit-category-dialog>

<app-delete-category-dialog
	#deleteCategoryDialog
	[name]="category?.name ?? ''"
	[loading]="deleteCategoryDialogLoading"
	(primaryButtonClick)="deleteCategoryDialogPrimaryButtonClick()"
></app-delete-category-dialog>

<!-- Add Offer Dialog -->
<app-add-offer-dialog
	#addOfferDialog
	[loading]="addOfferDialogLoading"
	[availableProducts]="availableProducts"
	(primaryButtonClick)="addOfferDialogPrimaryButtonClick($event)"
></app-add-offer-dialog>

<!-- Edit Offer Dialog -->
<app-edit-offer-dialog
	#editOfferDialog
	[loading]="editOfferDialogLoading"
	[availableProducts]="availableProducts"
	(primaryButtonClick)="editOfferDialogPrimaryButtonClick($event)"
></app-edit-offer-dialog>

<app-add-product-dialog
	#addProductDialog
	[loading]="addProductDialogLoading"
	[nameError]="addProductDialogNameError"
	[priceError]="addProductDialogPriceError"
	[category]="category"
	[productType]="addProductDialogProductType"
	[availableVariations]="availableVariations"
	(primaryButtonClick)="addProductDialogPrimaryButtonClick($any($event))"
	(clearErrors)="
		addProductDialogNameError = ''; addProductDialogPriceError = ''
	"
></app-add-product-dialog>

<app-edit-product-dialog
	#editProductDialog
	[loading]="editProductDialogLoading"
	[nameError]="editProductDialogNameError"
	[priceError]="editProductDialogPriceError"
	[availableVariations]="availableVariations"
	(primaryButtonClick)="editProductDialogPrimaryButtonClick($any($event))"
	(clearErrors)="
		editProductDialogNameError = ''; editProductDialogPriceError = ''
	"
></app-edit-product-dialog>
