<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.add"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	[primaryButtonDisabled]="
		name.length === 0 || assignedRestaurants.length === 0
	"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		<!-- Employee Name -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.name"
				[disabled]="loading"
				[errorMessage]="nameError"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>
		</div>

		@if (restaurants.length > 0) {
			<!-- Restaurants -->
			<div class="dialog-formfield-container">
				<h5>{{ locale.assignedRestaurants }}</h5>

				@for (restaurant of restaurants; track restaurant.uuid) {
					<dav-checkbox
						[label]="restaurant.name"
						(change)="restaurantCheckboxChange($event, restaurant.uuid)"
					></dav-checkbox>
				}
			</div>
		}
	</form>
</dav-dialog>
