<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.save"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	maxWidth="450"
	[loading]="loading"
	(dismiss)="hide()"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="hide()"
>
	<form>
		<div class="dialog-formfield-container">
			<dav-toggle
				[label]="locale.createMultiple"
				(change)="toggleBulkMode($event)"
			></dav-toggle>
		</div>

		<!-- Table number / Start table number -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="bulkMode ? locale.startTableName : locale.tableNumber"
				type="number"
				min="1"
				[disabled]="loading"
				[errorMessage]="nameError"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>
		</div>

		<!-- Seats -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="seats"
				[label]="locale.seats"
				type="number"
				min="1"
				[disabled]="loading"
				[errorMessage]="seatsError"
				(change)="seatsTextfieldChange($event)"
			></dav-textfield>
		</div>

		@if (bulkMode) {
			<!-- Number of tables -->
			<div class="dialog-formfield-container">
				<dav-textfield
					[value]="numberOfTables"
					[label]="locale.numberOfTables"
					type="number"
					min="1"
					[disabled]="loading"
					[errorMessage]="numberOfTablesError"
					(change)="numberOfTablesTextfieldChange($event)"
				></dav-textfield>
			</div>
		}
	</form>
</dav-dialog>
